<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->

	<div class="container users-wrapper">
		<div class="row main-center">
			<div class="col-11">
				<h2 class="title">Crear usuario</h2>
			</div>
			<div class="col-11 col-md-6">
				<form action="/users" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col-12">
							<label for="firstname">Nombre:</label>
							<input type="text" id="firstname" name="firstname" placeholder="Ej: Juan">
						</div>
						<div class="col-12">
							<label for="lastname">Apellido:</label>
							<input type="text" id="lastname" name="lastname" placeholder="Ej: Perez">
						</div>
						<div class="col-12">
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" placeholder="Ej: juanperez@mail.com">
						</div>
						<div class="col-12">
							<label for="category">Categoría:</label>
							<select name="category" id="category">
								<option value="user" selected>Usuario</option>
								<option value="admin">Administrador</option>
							</select>
						</div>
						<div class="col-12">
							<label for="password">Contraseña:</label>
							<input type="text" id="password" name="password">
						</div>
						<div class="col-12">
							<label for="image">Image:</label>
							<input type="file" id="image" name="image">
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a href="/users" class="btn btn-cancel">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>