<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-guest') %>

    <main class="main-small-form">  
        <section class="row main-center">
            <div class="col-11 col-md-5 col-lg-5 form-general">
                <form action="" method="POST"> 
                    <h2 class="title-forms">Recuperá tu Contraseña</h2>
                    <div class="form-step">
                        <label for="email">Introducí tu Email</label><br>
                        <input type="email" id="mail" name="email"class="recupera" required>
                        <span class="error"></span>
                    </div>
                    <div>
                        <button type="submit" class=" btn btn-primary">enviar</button>                        
                    </div>
                </form>
            </div>
        </section>  
    </main>

    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/validate.js"></script>
</body>
</html>