<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-guest') %>

    <main class="main-with-form">  
        <section class="row main-center ">
            <div class="col-10  col-md-5 col-lg-4 form-general">
                <form action="" method="POST">
                    <h2 class="title-forms">¡Bienvenid@!</h2>
                    <div class="form-step">
                        <label for="mail">Email</label><br>
                        <input type="email" id="mail" name="email" class="info" required placeholder="amantedelacomida53@aol.com ">
                        <span class="error">              
                    </div>               
                    <div class="form-step">
                        <label for="password">Contraseña</label><br>
                        <input type="password" name="password" class="info" required placeholder="">
                    </div>
                    <div class="form-step">
                        <label for="name">Nombre</label><br> 
                        <input type="text"id="name" name="nombre" class="info" required placeholder="Cosme">
                    </div>
                    <div class="form-step">
                        <label for="lastname" >Apellido</label><br>
                        <input type="text" id="lastname" name="apellido" class="info" required placeholder="Fulanito">
                    </div>
                    <div>
                        <button type="submit" class=" btn btn-primary"><a href="/users/login">Enviar</a></button>
                        <button type="reset" class=" btn danger">borrar</button>
                    </div>
                </form>          
            </div>  
        </section>
    </main> 
   
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/validate.js"></script>
</body>
</html>