<html lang="en">

<%- include("../partials/head") %>

<body>
    
    <%- include("../partials/header")%>    


    <main>



        <h1>Bienvenido</h1>
    
    
    </main>>





    <%- include("../partials/footer")%>



</body>












</html>