<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header")%>    
    <main class="main-admin">
        <section class="row main-center" >
            <div class=" col-10 col-md-5 col-lg-4 admin-form ">
                <h1 class="title">¡Bienvenid@!</h1>
                <h2 class="subtitle">¿Qué necesitás hacer hoy?</h2>
                <button class="btn btn-primary"type="submit"><a href="products/create">Agregar  Simpsocks a tu stock</a> </button>
                <button class="btn btn-primary"type="submit"><a href="products/edit">Editar tus Simpsocks</a> </button>               
            </div>
        </section>
    </main>
    <%- include("../partials/footer")%>
</body>












</html>