<html lang="en">
<%- include("../partials/head", { title: 'Panel de Administrador'}) %>
<body class="form">
    <%- include('../partials/header')%>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
        </nav>
    </section>
    
    <main class="admin-form">
        <div class="header">
            <h2>¡Bienvenid@!</h2>
            <h3>¿Qué desea gestionar?</h3>
        </div>
        <section class="row main-center" >
            <div class="col-2">
                <a class="btn btn-primary" href="/users">Usuarios</a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="/products">Productos</a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="/categories">Categorías</a>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>