<html lang="en">
<%- include("../partials/head", { title: 'Panel de Administrador'}) %>
<body>
    <%- include('../partials/header')%>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
        </nav>
    </section>
    
    <main class="main-small-form">
        <section class="row main-center" >
            <div class="col-11 col-md-5 col-lg-4 form-general">
                <h1 class="title-forms">¡Bienvenid@!</h1>
                <h2>¿Qué vamos a gestionar?</h2>
                <a class="btn btn-primary" href="/users">Usuarios</a>
                <a class="btn btn-primary" href="/products">Productos</a>
                <a class="btn btn-primary" href="/categories">Categorías</a>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>