/* Fonts */

@font-face {
  font-family: "gotham-bold-italic";
  src: url("/fonts/gotham-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "gotham-ultra";
  src: url("/fonts/gotham-ultra.otf");
}

/* Variables */

:root {
  --primary: var(--yellow);
  --secondary: var(--blue);
  --white: white;
  --light: #ebebeb;
  --dark: #333;
  
  /* https://coolors.co/ffd521-3180bf-d6e69f-424f46-f14e28-f777aa */
  --yellow: #FFD521;
  --green: #D6E69F;
  --darkgreen: #424F46;
  --blue: #3180BF;
  --red: #F14E28;
  --pink: #F777AA;

  /* https://coolors.co/ffe570-5d9fd5-e3eebe-5d6f62-f47052-fbb2cf */
  --soft-yellow: #FFE570;
  --soft-green: #E3EEBE;
  --soft-darkgreen: #5D6F62;
  --soft-blue: #5D9FD5;
  --soft-red: #F47052;
  --soft-pink: #FBB2CF

  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--yellow);
  --danger-color: var(--red);

  --default-padding: .5rem;
  --default-margin: .5rem;
}

/* Generals */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: var(--dark);
  background-color: var(--light);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: "gotham-ultra";
  font-size: 1rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: "gotham-ultra";
  font-size: .8rem;
  text-transform: uppercase;
}

.text {
  font-size: .6rem;
}

.btn { 
  display: inline-block; 
  cursor: pointer;
  font-family: "gotham-ultra";
  text-transform: lowercase;
  border-radius: .6rem;
  padding: .2rem .6rem;
}

input,
button {
  border: 2px solid;
  padding: var(--default-padding);
  margin: var(--default-margin);
  outline: none;
}

input.info,
button.info {
  border-color: var(--info-color);
}

input.success,
button.success {
  border-color: var(--success-color);
}

input.warning,
button.warning {
  border-color: var(--warning-color);
}

input.danger,
button.danger {
  border-color: var(--danger-color);
}

button.info:hover {
  background-color: var(--soft-blue);
}

button.success:hover {
  background-color: var(--soft-green);
}

button.warning:hover {
  background-color: var(--soft-yellow);
}

button.danger:hover {
  background-color: var(--soft-red);
}

.btn-primary {
  color: var(--dark);
  background-color: var(--primary);
  border: 2px solid var(--soft-yellow);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--soft-yellow);
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--yellow);
  background-image: url("/images/bg-header.png");
}
  .header-start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
  }
    .header-start img {
      background-color: var(--blue);
      position: absolute;
      z-index: 1;
      left: .5rem;
      top: .5rem;
      padding: .5rem;
      width: 4rem;
      -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
      box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
    }
    .header-start h2 {
      display: none;
      font-family: "gotham-bold-italic";
      text-transform: uppercase;
      margin-left: 130px;
      letter-spacing: 2px;
    }
    .header-start .ultra {
      font-family: "gotham-ultra";
    }
  .header-center {
    display: none;
    position: relative;
    flex-grow: 1;
    text-align: right;
  }
    .header-center input {
      height: 24px;
      width: 90%;
      max-width: 300px;
      border: none;
      border-bottom: 2px solid var(--blue);
      background-color: var(--yellow);
    }
    .header-center input:focus {
      outline: none;
    }
    .header-center button { 
      background-color: var(--yellow);
      border: none;
      color: var(--blue);
      height: 24px;
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  .header-end {
    padding: 12px;
    display: flex;
  }
    .header-end a {
      color:var(--blue);
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      margin: 0px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6px 0px;
    }
    .header-end i {
      font-weight: bold;
    }

/* Main */
main { }

.container {
  margin: 0 .5rem;
}

/* Main Categories */
.main-categories nav {
  background-color: var(--dark);
  color: var(--soft-green);
  display: flex;
  justify-content: flex-end;
}
  .main-category {
    font-size: .5rem;
    padding: .25rem .25rem;
  }

/* Home Carousel */
.carousel {
  max-width: 1440px;
  position: relative;
  margin: auto;
}
  .slide-container {
    display: none;
    padding: 1rem;
  }
  .slide-container.slide-1 { background-color: var(--pink); }
  .slide-container.slide-2 { background-color: var(--blue); }
  .slide-container.slide-3 { background-color: var(--yellow); }
    .slide {
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      margin: 0 auto;
    }
      .slide-img {
        width: 33.3333%;
        border-radius: 12px;
        align-self: center;
        padding: .5rem;
        margin: 1rem;
        background-color: var(--white);
        box-shadow: 4px 0px 12px rgba(0,0,0,0.25);
      }
        .slide-img img {
          width: 100%;
        }
      .slide-info {
        width: 66.6667%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 0 0;
      }
        .slide-info span {
          text-align: center;
        }
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {opacity: .4};
      to {opacity: 1};
    }
    @keyframes fade {
      from {opacity: .4};
      to {opacity: 1};
    }
  .prev-link, .next-link {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 18px);
    padding: .2rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 12px 12px 0;
    user-select: none;
  }
  .next-link {
    right: 0;
    border-radius: 12px 0 0 12px;
  }
  .prev-link:hover, .next-link:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Categories */
section.categories-container {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .category {
    position: relative;
    padding: .1rem;
    width: 100%;
  }
    .cat-img img {
      width: 100%;
    }
    .cat-name {
      color: var(--light);
      position: absolute;
      left: 10px;
      bottom: 14px;
      width: 90%;
      border-radius: 8.1px;
      background-color: var(--secondary);
      box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
    }
    .cat-name {
      text-align: center;
      padding: .25rem 0;
    }

/* Main banner */
main .banner {
  display: none;
}

/* */


main section {}

main section article {}

aside {}

/* Footer */

footer {}

.footer-top {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-top img {
  width: 50px;
  margin: 10px;
  padding: 10px;
  background-color: var(--blue);
}

.footer-top p {
  font-weight: bold;
  font-size: 16px;
}

.footer-content {
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.footer-content>* {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content a {
  margin: 5px;
  color: var(--dark);
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--darkgreen);
  color: white;
  text-align: center;
}

/* Login & Register Forms */

.main-register-login {
  background-color:var(--blue);
  background-size: cover;
}

 .h2-login-register { 
  font-family: "gotham-ultra";
}

.form-login-register {
  background-color: var(--light);
  width: 75vw;
  height:50%;
  margin: 15% 12.5% 15% 12.5%;
  text-align: center;
  font-family: "gotham-ultra";
  font-size: smaller;
  border-radius: 50px;
  padding-top:15px;
  padding-bottom:15px;
  border: white solid 2px;
}


/* Product Details */

body{
  background-color: white;
}
.product-img {
  display: flex;
  width: 100%;
  border: .-1rem solid var(--pink);
  margin: var(--default-margin);
}
  .product-img img {
    width: 100%;
    justify-content: center;
    margin: 1rem 1rem;
  }

.product-details {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 12px;
}
  .stock {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-right: 12px;
    color: #00a650;
    font-weight: bold;
    padding-bottom: 10px;
  }
    .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px;
      font-weight: bold;
      padding-left: 15px;
      padding-bottom: 10px;
    }
  
    .product-title {
      font-size: 24px;
      padding-left: 15px;
      padding-bottom: 10px;
    }
    .product-description {
      font-size: 14px;
      padding-left: 15px;
    }

.product-actions {
  display: flex;
  justify-content: center;
  margin: var(--default-margin);
}

  .btn-cart {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);

    margin-right: 15px;
    padding: var(--default-padding);
  }

/* Tablet y Desktop*/
@media all and (min-width: 600px){
  .product-container{
    display: flex;
    flex-wrap: wrap;
  }
  .product-img{
    margin: 1rem 0;
    margin-left: 1rem;
    width: 50%;
    border: .5rem solid var(--pink);
  }
  .details-container{
    width: 42%;
    margin: 1rem 1rem;
  }
  .product-details{
    padding: 1rem;
    margin: 1rem;
  }

  .product-actions{
    margin-top: 2.5rem;
  }  
}

/* Cart */
.cart-title{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-left: 1rem;
}
  .article-count{
    font-size: 10px;
    margin-right: 10px;
    font-weight: lighter;
    color: gray;
  }

.cart-section{
  width: 100%;
}

  .purchase-details{
    background-color: var(--soft-blue);
    display: flex;
    flex-direction: row;
    border: 1px solid var(--blue);
    margin: 5px 1rem;
    border-radius: 10px;

  }
  .purchase-details img{
    width: 50%;
    margin: 2%;
    align-self: center;
  }

  .cart-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article-title{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px 20%;
    justify-content: space-between;
  }
    .cancel{
      justify-content: flex-end;
      display: flex;
      margin-right: 5%;
      margin-top: 3%;
    }
  .cart-quantity{
    width: 100%;
    padding: 5px 20%;    
  }
  .quantity-label{
      margin-right: 10px;
      font-size: 12px;
  }
  .cart-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20%;
  }
  
  .article-price{
    padding: 10px;
  }
  .article-details{
    padding: 10px;
  }
 

/*Resume*/

.resume{
  margin: 1rem 1rem;
  background: var(--light);
}
  .price-title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px 0;
  }
  .resume-input{
    width: 50%;
    height: 5vh;
    color: var(--blue);
  }
  .btn-action{
    color: var(--soft-blue);
    border-radius: 8px;
  }

.price-details-container{
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}
.price-details{
  width: 50%;
  margin-left: 20%;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.discount{
  color: green;
}

/*Payment */
.payment-details {
  display: flex;
  justify-content: center;
}
  .payment{
    display: flex;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
  }
  .btn-payment{
    display: flex;
    padding: 10px;
    border-radius: 8px;
  }

/*Featured*/
.featured-container{
  display: inline-block;
  margin-left: 1rem;
}
.card{
  width: 40%;
  margin: var(--default-margin);
  padding: var(--default-padding);
  border: 1px solid var(--light);
  border-radius: 1rem;
}
  .img-card{
    width: 90%;
    margin: var(--default-margin);
  }
  .cart-title{
    font-size: .1rem;
    padding: var(--default-padding);
  }

/*Media queries */
@media all and (min-width:600px){
  .purchaise-container{
    width: 50%;
  }
  .resume-container{
    width: 42%;
    text-align: center;
    background: var(--light);
    border-radius: .5rem;
    display: flex;
    margin-left: 5%;
    border: 1px solid #cecece;
  }
  .cart-section{
  display: flex;
  flex-wrap: wrap;   
  }
  .purchase-details{
    width: 90%;
  }
  .resume{
    margin-top: .5rem;
    border-radius: 10px;
  }


/* Grid */

[class^="col-"] {
  padding: .5rem;
}

/* Tablet */

@media (min-width: 768px) {

  /* Grid system */
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  [class^="col-"] {
    margin: 0 .5rem;
  }

  .row.main-start { justify-content: flex-start; }
  .row.main-center { justify-content: center; }
  .row.main-end { justify-content: flex-end; }
  .row.main-around { justify-content: space-around; }
  .row.main-between { justify-content: space-between; }
  .row.cross-start { align-items: flex-start;}
  .row.cross-center { align-items: center;}
  .row.cross-end { align-items: flex-end;}
  
  .col-md-1 { width: calc(8,333333333% - 1rem)}
  .col-md-2 { width: calc(16.666666667% - 1rem)}
  .col-md-3 { width: calc(25% - 1rem)}
  .col-md-4 { width: calc(33.333333333% - 1rem)}
  .col-md-5 { width: calc(41.666666667% - 1rem)}
  .col-md-6 { width: calc(50% - 1rem)}
  .col-md-7 { width: calc(58.333333333% - 1rem)}
  .col-md-8 { width: calc(66.666666667% - 1rem)}
  .col-md-9 { width: calc(75% - 1rem)}
  .col-md-10 { width: calc(83.333333333% - 1rem)}
  .col-md-11 { width: calc(91.666666667% - 1rem)}
  .col-md-12 { width: calc(100% - 1rem)}
  
  /* header */
  header {}
    .header-start {}
      .header-start img { 
        margin: 20px; 
        width: 80px;
      }
      .header-start h2 { display: inline; }
    .header-center { display: inline; }
  
    /* register */
  .form-login-register {
    width: 40vw;
    margin:15% 30% 15% 30%;
  }
}

/* Desktop */

@media (min-width: 1024px) {

  /* Grid system */

  .col-lg-1 { width: calc(8,333333333% - 1rem)}
  .col-lg-2 { width: calc(16.666666667% - 1rem)}
  .col-lg-3 { width: calc(25% - 1rem)}
  .col-lg-4 { width: calc(33.333333333% - 1rem)}
  .col-lg-5 { width: calc(41.666666667% - 1rem)}
  .col-lg-6 { width: calc(50% - 1rem)}
  .col-lg-7 { width: calc(58.333333333% - 1rem)}
  .col-lg-8 { width: calc(66.666666667% - 1rem)}
  .col-lg-9 { width: calc(75% - 1rem)}
  .col-lg-10 { width: calc(83.333333333% - 1rem)}
  .col-lg-11 { width: calc(91.666666667% - 1rem)}
  .col-lg-12 { width: calc(100% - 1rem)}
}