/* Fonts */

@font-face {
  font-family: "gotham-bold-italic";
  src: url("/fonts/gotham-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "gotham-ultra";
  src: url("/fonts/gotham-ultra.otf");
}

/* Variables */

:root {
  --primary: var(--yellow);
  --secondary: var(--blue);
  --white: white;
  --light: #ebebeb;
  --dark: #333;
  
  /* https://coolors.co/ffd521-3180bf-d6e69f-424f46-f14e28-f777aa */
  --yellow: #FFD521;
  --green: #D6E69F;
  --darkgreen: #424F46;
  --blue: #3180BF;
  --red: #F14E28;
  --pink: #F777AA;

  /* https://coolors.co/ffe570-5d9fd5-e3eebe-5d6f62-f47052-fbb2cf */
  --soft-yellow: #FFE570;
  --soft-green: #E3EEBE;
  --soft-darkgreen: #5D6F62;
  --soft-blue: #5D9FD5;
  --soft-red: #F47052;
  --soft-pink: #FBB2CF;

  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--yellow);
  --danger-color: var(--red);

  --default-padding: .5rem;
  --default-margin: .5rem;

  --base-font-family: 'Roboto', sans-serif;
}

/* Generals */

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  /* To avoid footer overlapping. Put same value like footer height */
  margin-bottom: 216px;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "gotham-ultra";
  font-size: 1.75rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: "gotham-ultra";
  font-size: 1.25rem;
  text-transform: uppercase;
}

.text {
  font-size: 1rem;
}

/* Input / Buttons */

.btn { 
  display: inline-block; 
  cursor: pointer;
  font-family: "gotham-ultra";
  border-radius: .6rem;
  padding: .2rem .6rem;
}

input, select {
  width: 100%;
}

input, button, select {
  border: 1px solid;
  padding: var(--default-padding);
  margin: .1rem .5rem .5rem 0;
  outline: none;
}

a.info, input.info, button.info { border-color: var(--info-color); }
a.success, input.success, button.success { border-color: var(--success-color); }
a.warning, input.warning, button.warning { border-color: var(--warning-color); }
a.danger, input.danger, button.danger, input:invalid { border-color: var(--danger-color); }

a.info:hover, button.info:hover { background-color: var(--soft-blue); }
a.success:hover, button.success:hover { background-color: var(--soft-green); }
a.warning:hover, button.warning:hover { background-color: var(--soft-yellow); }
a.danger:hover, button.danger:hover { background-color: var(--soft-red); }

input:invalid {
  box-shadow: 0 0 5px 1px var(--red);
}

input:focus:invalid {
  box-shadow: none;
}

.btn-primary {
  color: var(--dark);
  background-color: var(--primary);
  border: 2px solid var(--soft-yellow);
  font-size: 1rem;
}

.btn-secondary {
  color: var(--light);
  background-color: var(--secondary);
  border: 2px solid var(--soft-blue);
  font-size: 1rem;
}

.btn-icon {
  background-color: initial;
  border: 0;
  color: var(--blue);
  padding: .25rem;
}

.btn-cancel {
  font-family: 'Roboto', sans-serif;
  color: var(--blue);
}

.btn-primary:hover, .btn-primary:focus { background-color: var(--soft-yellow); }
.btn-secondary:hover, .btn-secondary:focus { background-color: var(--soft-blue); }
.btn-icon:hover, .btn-icon:focus { color: var(--soft-blue); }

.form-only-btn {
  display: inline;
}

/* Messages */

.error {
  display: none;
  padding: .25rem;
  font-size: .6rem;
  color: var(--red);
  margin: 0 auto;
  width: 100%;
}

.error.active {
  display: block;
}

/************/
/** Header **/
/************/

header {
  background-color: var(--yellow);
  background-image: url("/images/bg-header.png");
  display: flex;
  position: relative;
  z-index: 1000;
}
.header-start img {
  background-color: var(--blue);
  position: absolute;
  z-index: 3;
  left: var(--default-margin);
  top: var(--default-margin);
  padding: var(--default-padding);
  width: 3rem;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
}
.header-start a { margin: 6px 0 0 60px; }
.header-start .ultra { font-family: "gotham-ultra"; }
.header-start h2 {
  font-family: "gotham-bold-italic";
  font-size: 1rem;
  text-transform: uppercase;
}
.header-center {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: var(--soft-yellow);
  top: 100%;
  width: 100%;
}
.header-center.open, 
.header-end .main-nav.open {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.header-center .search-form {
  display: flex;
  margin-bottom: 0;
}
.header-center .search-label {
  position: absolute;
  overflow: hidden;
  width: 0px;
}
.header-center input[type=search] {
  background: var(--darkgreen);
  border: 0;
  color: var(--white);
  padding: .5rem 1rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: .5rem 0 .5rem .5rem;
}
.header-center .btn-search {
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(90deg,var(--blue),var(--soft-blue));
  color: var(--white);
  margin: .5rem .5rem .5rem 0;
  padding: 0px 30px 0 25px;
}

.header-end .main-nav {
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--white);
}
.header-end ul {
  padding: .5rem 0;
}
.header-end ul>li>a {
  width: 100%;
  border: 0;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header-end ul>li>a:focus,
.header-end ul>li>a:hover {
  color: var(--white);
  background: linear-gradient(90deg,var(--yellow),var(--pink));
}
.header-end ul>li>a>i { 
  margin: 0 var(--default-margin);
  font-weight: bold;
 }

.mobile-actions {
  display: flex;
  margin-left: auto;
}
.mobile-actions>* {
  padding: 1rem;
  height: 100%;
  border: 0;
  background: 0 0;
  margin: 0;
  font-size: 1.25rem;
  color: var(--blue);
  width: 50px;
}

.opened>.show-search, 
.closed>.close-search,
.opened>.show-nav,
.closed>.close-nav { display: none; }
.opened>.close-search,
.closed>.show-search,
.opened>.close-nav,
.closed>.show-nav { display: flex; }

#nav-opener.opened { background-color: var(--white); }
#search-opener.opened { background-color: var(--soft-yellow); }


/* Top Navbar */

.top-nav {
  background-color: var(--dark);
  color: var(--soft-green);
  display: flex;
  font-size: .9rem;
  justify-content: flex-end;
}

.top-nav-start {
  display: none;
  flex-grow: 1;
}

.top-nav-start a { padding: var(--default-padding) 0; }
.top-nav-end a { padding: .25rem; }

/* Breacrumb */

.breadcrumb a:after { content: "/"; padding-left: .5rem; }
.breadcrumb a:hover { color: var(--blue); };
.breadcrumb a:last-child { font-weight: bold; }
.breadcrumb a:last-child:after{ content:" "; }

/* Slider */

.slides {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}
  .slide-container {
    display: none;
    padding: 2rem;
  }
  .slide-container.slide-1 { background-color: var(--pink); }
  .slide-container.slide-2 { background-color: var(--blue); }
  .slide-container.slide-3 { background-color: var(--yellow); }
    .slide {
      border-radius: 12px;
      background-color: var(--white);
      margin: 0 auto;
      min-height: 75vh;
    }
      .slide-img {
        border-radius: 12px;
        align-self: center;
        padding: var(--default-padding);
        margin: 1rem;
        background-color: var(--white);
        box-shadow: 4px 0px 12px rgba(0,0,0,0.25);
      }
        .slide-img img {
          width: 100%;
        }
      .slide-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 1rem;
      }
        .slide-info span {
          text-align: center;
        }
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {opacity: .4};
      to {opacity: 1};
    }
    @keyframes fade {
      from {opacity: .4};
      to {opacity: 1};
    }
  .prev-link, .next-link {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 2rem);
    padding: var(--default-padding);
    color: var(--soft-darkgreen);
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
  }
  .prev-link {
    left: 0;
    border-radius: 0 1rem 1rem 0;
  }
  .next-link {
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }
  .prev-link:hover, .next-link:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Info banner */

.info-banner {
  padding: 4rem 0;
  background-color: var(--light);
}
.info-banner .info {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 .5rem;
}
  .info-banner .info i {
    font-size: 2rem;
    padding-bottom: .5rem;
  }

/* Featured Categories */

.featured-categories {
  margin: 2rem auto;
  text-align: center;
}
  .featured-category {
    position: relative;
    margin: var(--default-margin);
  }
    .cat-img img {
      width: 100%;
    }
    .cat-name {
      color: var(--light);
      position: absolute;
      left: 10px;
      bottom: 14px;
      width: 90%;
      border-radius: 8.1px;
      background-color: var(--secondary);
      box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
      padding: .25rem 0;
    }

/* Insta banner */
  
.insta-banner {
  background-color: var(--light);
}
.insta-banner .content {
  text-align: center;
  padding: 2rem;
}
.insta-banner .image {
  display: none;
}

/* Featured Products */

.featured-products {
  margin: 2rem auto;
  text-align: center;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 216px;
}
.footer-top {
  background-color: var(--yellow);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
  .footer-top img {
    width: 50px;
    margin: 10px;
    padding: 10px;
    background-color: var(--blue);
  }
  .footer-top p {
    font-weight: bold;
    font-size: 16px;
}
.footer-content {
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
}
  .footer-content>* {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-content a {
    margin: 5px;
    color: var(--dark);
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
  }
  .footer-content i {
    font-size: 1.5rem;
  }
.footer-bottom {
  background-color: var(--darkgreen);
  color: white;
  text-align: center;
}

/*** Products ***/

.products-wrapper {
  margin: var(--default-margin);
}

.products {
  text-align: center;
}

.product {
  background-color: var(--light);
  overflow: hidden;
  margin: 20px 10px;
  padding: 1rem;
  position: relative;
}

.product:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product a {
  display: block;
}

.product-image {
  border-bottom: 5px solid var(--yellow);
}

.product-data {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-data .discount {
  color: var(--white);
  background-color: var(--pink);
  font-size: 1.5rem;
  padding: 0 1.5rem;
  position: absolute;
  top: 2rem;
  right: -1rem;
}

.product-data p {
  width: 100%;
  margin: .5rem 0;
  font-weight: 300;
}

.product-data .compare-price {
  font-size: 1.25rem;
  font-weight: 300;
  opacity: 0.8;
  text-decoration: line-through;
}

.product-data .compare-price:after {
  padding: 0 .5rem;
  content: "-";
}

.product-data .product-price {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
}

/* Product Details */

.product-details {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
  .stock {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-right: 12px;
    color: #00a650;
    font-weight: bold;
    padding-bottom: 10px;
  }
    .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px;
      font-weight: bold;
      padding-left: 15px;
      padding-bottom: 10px;
    }
  
    .product-title {
      font-size: 24px;
      padding-left: 15px;
      padding-bottom: 10px;
    }
    .product-description {
      font-size: 14px;
      padding-left: 15px;
    }

.product-actions {
  display: flex;
  margin: var(--default-margin);
}
  .buy{
    padding: var(--default-padding);
  }
  .btn-cart {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    margin-right: 15px;
    padding: var(--default-padding);
  }

.related-products-container {
  display: none;
}

.product-container aside{
  display: none;
}
.box-container{
  border: .1rem solid var(--light);
  margin: var(--default-margin) auto;
  cursor: pointer;
}
.box-container  :hover { background-color: var(--soft-blue); } 

/* Carousel */
.show-mobile {
  display: block;
  position: absolute;
  top: 14rem;
}

/* Filters */
.filters {
  display: none;
}

/* Cart */

.cart-title{
  display: flex;
  justify-content: space-between;  
  font-size: .1rem;
  padding: var(--default-padding);

  margin-left: 1rem;
}
  .article-count{
    font-size: 10px;
    margin-right: 10px;
    font-weight: lighter;
    color: gray;
  }

.purchase-container{
  width: 100%;
  padding: var( --default-padding);
}
  .purchase-details{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    border: 1px solid var(--blue);
    margin: 5px 1rem;
    border-radius: 10px;
  }
  .purchase-details img{
    width: 40%;
    margin: 2%;
    align-self: center;
  }

  .cart-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    .cancel{
      justify-content: flex-end;
      display: flex;
      margin-right: 5%;
      margin-top: 3%;
    }
  .cart-quantity{
    width: 100%;
    padding: 5px 20%;    
  }
  .quantity-label{
      margin-right: 10px;
      font-size: 12px;
  }
  .cart-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20%;
  }
  .article-price{
    padding: 10px;
  }
  .article-details{
    padding: 10px;
  }
 
/* Resume */

.resume-container{
  background-color: var(--blue);
  padding: var(--default-padding);
}
.resume{
  margin: 1rem 1rem;
  background: var(--light);
  padding: 1rem;
  border-radius: 10px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
  .price-title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px 0;
  }
  .resume-input{
    width: 60%;
    height: 5vh;
    color: var(--blue);
  }
  .btn-action{
    color: var(--soft-blue);
    border-radius: 8px;
    background-color: var(--white);
  }

.price-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-details{
  padding: .5rem;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }
.discount{
  color: #00a650;
}
.payment{
  font-size: 20px;
  font-weight: bold;
}
  .btn-payment{
    display: flex;
    justify-content: center;
  }
  
.divisor{
  height: 1px;
  color: var(--dark);
  background-color: var(--dark);
  width: 70%;
  margin-left: 15%;
}

/* Featured */

.featured-container{
  display: inline-block;
  margin-left: 1rem;
}

/* Error 404 */

.page-not-found {
  background-color: var(--yellow);
}
.page-not-found .wrapper {
  height: 53vh;
  text-align: center;
}
.page-not-found img {
  width: 100%;
}
.page-not-found h2 {
  font-size: 1.2rem;
}

/* Login & Register forms */

.main-with-form {
  background-color:var(--blue);
}

.form-general {
  background-color: var(--light);
  margin: 1rem auto;
  text-align: center;
  border-radius: 20px;
  border: white solid 5px;
  padding: .5rem;
}

/* Admin */

.main-admin { 
  background-color:var(--blue);
  height: 80vh;
}

.admin-form {
  background-color: var(--light);
  margin: 1rem auto;
  text-align: center; 
  font-size: 1rem;
  border-radius: 50px;
  padding:.5rem;
  border: white solid 2px;
}

/* Create product */

.title-forms {
  font-family: "gotham-ultra";
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: .3rem;
  border-bottom: 3px solid yellow;
}

.form-step { 
  text-align: center;  
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--white);
  font-weight: 500;
  width: 100%;
}

.form-step-create { 
  text-align: left;  
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--white);
  font-weight: 500;
  width: 100%;
}

.new-product-size {    
  text-align: left;
  font-weight: 500; 
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 3px solid var(--white);
}

.new-product-bottom {
  text-align: left;
  font-weight: 500; 
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 3px solid var(--white);
}

.new-product-bottom-pic {
  text-align: left;
  font-weight: 500; 
  line-height: 25px;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 3px solid var(--white);
}

.new-product-radio-titles {
  font-weight: 1000; 
}

.new-product-description {
  text-align: left; 
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--white);
  line-height: 2.5rem;
}

.new-product-input {
  border: none;
  margin-left: 0px;
  width: 100%;
  box-shadow: 0 0 5px 1px var(--red);;
}  

/* Edit Product */

.my-product { display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid white;
}

.image-container { 
  width:20%;
}

.img-card-edit-product{
  width: 80%;
  margin: var(--default-margin);
}

.text-container { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  text-align: left;
  justify-content: center;
  font-size: .8rem;  
}

.icons-edit {
  color: var(--blue);
  width:10%;
  text-align: center;
  font-size: 1.3rem;
  padding-top:15px;
}

/* Admin Users */

.users-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row-title {
  padding: 10px 0px;
  font-weight: bold;
}
.row-user-image {
  padding: 5px 15px 5px 0px;
}

/* Simple Slider */

.simple-slider {
  height: 100%;
  overflow-y: auto;
  /* Always force scrolling to a snap point on the x-axis */
  scroll-snap-type: x mandatory;
}
.simple-slide {
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}

/* Grid system */

.row {
  display: flex;
  flex-wrap: wrap;
}
.row.main-start { justify-content: flex-start; }
.row.main-center { justify-content: center; }
.row.main-end { justify-content: flex-end; }
.row.main-around { justify-content: space-around; }
.row.main-between { justify-content: space-between; }
.row.cross-start { align-items: flex-start;}
.row.cross-center { align-items: center;}
.row.cross-end { align-items: flex-end;}
.row.column { flex-direction: column;}
.row.nowrap { flex-wrap: nowrap;}

.col { 
  flex-grow: 1;
  flex-basis: 0; /* reseteo el tamaño de base*/
  max-width: 90%;
  width: 100%;
}

.col-1 { width: 8.333333333% }
.col-2 { width: 16.666666667% }
.col-3 { width: 25% }
.col-4 { width: 33.333333333% }
.col-5 { width: 41.666666667% }
.col-6 { width: 50% }
.col-7 { width: 58.333333333% }
.col-8 { width: 66.666666667% }
.col-9 { width: 75% }
.col-10 { width: 83.333333333% }
.col-11 { width: 91.666666667% }
.col-12 { width: 100% }


/**********
 * Tablet *
 **********/
@media (min-width: 576px) {

  /* Generals */

  body {
    margin-bottom: 148px;  /* To avoid footer overlapping. Same value like footer height */
  }

  /* Grid system */

  .col { 
    flex-grow: 1;
    flex-basis: 0; /* reseteo el tamaño de base*/
  }
  .col-md-1 { width: 8.333333333% }
  .col-md-2 { width: 16.666666667% }
  .col-md-3 { width: 25% }
  .col-md-4 { width: 33.333333333% }
  .col-md-5 { width: 41.666666667% }
  .col-md-6 { width: 50% }
  .col-md-7 { width: 58.333333333% }
  .col-md-8 { width: 66.666666667% }
  .col-md-9 { width: 75% }
  .col-md-10 { width: 83.333333333% }
  .col-md-11 { width: 91.666666667% }
  .col-md-12 { width: 100% }

  /* Main */

  .container {
    margin: 0 var(--default-margin);
  }
  
  /************/
  /** Header **/
  /************/
  
  header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .header-start a {
    margin-top: 6px;
  }
  .header-center {
    opacity: 1;
    visibility: visible;
    position: relative;
    max-width: 50%;
    background: 0 0;
    margin: 0 auto;
  }
  #search-opener {
    display: none;
  }

  /* Footer */

  footer {
    height: 148px;
  }

  .footer-content>* {
    flex-direction: row;
    align-items: center;
  }

  /* Error page */

  .page-not-found .wrapper {
    height: 62vh;
  }

  /* Top navbar */

  .top-nav-start {
    display: inline;
    margin-left: var(--default-margin);
  }

  .top-nav-end a {
    padding: .5rem 1rem;
  }

  /* Slider */

  .slides {
    margin: 1rem auto;
  }
  .slide { min-height: 35vh; }
  .slide-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
    .slide-info span {
      margin: 1rem 0;
      text-align: left;
    }

  /* Info banner */

  .info-banner .info {
    font-size: 1rem;
  }

  /* Insta banner */

  .insta-banner .image {
    display: inline-block;
    background-image: url("/images/banner.png");
    background-size: cover;
    background-position: center;
  }

  /* Register */

  .form-login-register {
    margin: 30% auto;
  }

  /* Purchase */

  .purchase-container{
    border-radius: .5rem;
    margin-top: var(--default-margin);
  }

  .related-products-container{
    display: block;
    text-align: center;
    margin: 5rem 0 2rem;
  }

  .purchase-details{
    width: 90%;
  }

  .resume{
    margin-top: .5rem;
    border-radius: 10px;
    width: 100%;
  }

  .shipping{
    margin: var(--default-margin);
    text-align: left;
    margin-left: 2rem;
  }

  .title-featured{
    padding: var(--default-padding);
    margin: var(--default-margin) 17%;
  }

  .resume-container {
    text-align: center;
    background: var(--light);
    border-radius: .5rem;
    display: flex;
    border: 1px solid var(--light);
    margin-top: var(--default-margin);
    background-color:var(--blue);
  }

  .title-featured {
    padding: var(--default-padding);
    margin: var(--default-margin) 17%;
    text-align: center;
    margin-top: 1rem;
  }
 
  /* Product */

  .product-container aside{ 
    display: block;
    padding: var(--default-padding); 
  }

  .details-container{
    width: 42%;
    margin: 1rem 1rem;
  }
  .product-details{
    padding: 1rem;
  }
  .product-actions{
    margin-top: 2.5rem;
  }

  /* Carrousel */

  .show-mobile {
    display: none;
  }

  /* Filters */

  .filters { 
    display: block;
    margin: var(--default-margin); 
  }
  .filter { padding: var(--default-padding); }

  .filter ul { margin-bottom: 1rem;}
  .filter ul li a { margin: .4rem .5rem; }
  
  .filter ul li:hover,
  .filter ul a:hover { 
    font-weight: 300;
    text-decoration: underline;
  }

  .filter-action { font-size: .75rem; }
  .filter-action:hover a { background-color: var(--soft-blue); }
  .filter-action a { 
    margin-left: .5rem;
    padding: .2rem .5rem;
    color: var(--white);
    background-color: var(--blue);
  }

  .filter>p { 
    font-weight: bold; 
    margin-top: 0;
  }

  /* Form */

  .form-general {
    background-color: var(--light);
    margin: 1rem auto;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    padding:.5rem;
    margin-top: 30px;
    border: white solid 5px;
  }

  /* Edit Product */

  .text-container { 
   font-size: 1rem;
    padding-left: 10%;
  }
  
  .icons-edit { 
    font-size: 2rem;
    padding-top:25px;  
   
     }
}

/**********
 * Tablet *
 **********/
@media (min-width: 768px) {
  
  /************/
  /** Header **/
  /************/
  header { flex-wrap: nowrap; }
    .header-center { max-width: 40%; }
    .mobile-actions { display: none; }

  .header-end .main-nav {
    opacity: 1;
    visibility: visible;
    position: initial;
    background: 0;
    display: flex;
  }
  .header-end .main-nav ul {
    display: flex;
    padding: .5rem 0;
  }
  .header-end .main-nav ul li a {
    color: var(--blue);
    font-weight: bold;
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    width: auto;
  }
  .header-end .main-nav ul li a span {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
  }
  .header-end .main-nav ul li a i {
    font-size: 24px;
    font-weight: bold;
  }
}

/***********
 * Desktop *
 ***********/
@media (min-width: 1024px) {

  /* Grid system */

  .col-lg-1 { width: 8.333333333% }
  .col-lg-2 { width: 16.666666667% }
  .col-lg-3 { width: 25% }
  .col-lg-4 { width: 33.333333333% }
  .col-lg-5 { width: 41.666666667% }
  .col-lg-6 { width: 50% }
  .col-lg-7 { width: 58.333333333% }
  .col-lg-8 { width: 66.666666667% }
  .col-lg-9 { width: 75% }
  .col-lg-10 { width: 83.333333333% }
  .col-lg-11 { width: 91.666666667% }
  .col-lg-12 { width: 100% }

  /************/
  /** Header **/
  /************/
  .header-start a { margin: 0 0 0 100px; }
  .header-start img { width: 5rem; }
  .header-start h2 { font-size: 1.5rem; }

  /* Texts */

  .title {
    font-size: 2.25rem;
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.25rem;
  }

  /* Top navbar */

  .top-nav-start {
    display: inline;
    margin-left: 100px;
  }

  /* Info banner */
  
  .info-banner .info {
    font-size: 1.25rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .info-banner .info i {
      padding: 0 .5rem;
    }

  /* Cart featured */

  .cart-title{
    display: none;
  }

  /* Edit Product */

  .text-container {
   font-size: 1.5rem;
  }
  
  .icons-edit {
    font-size: 2.5rem; 
  }

  /* Carrousel */

  .show-mobile {
    display: none;
  }

  /* Create Product */

  .create-bottom-form {
    display: flex;
    flex-wrap: wrap;
  }

  .new-product-bottom {
    text-align: center;
    width: 50%;
    border-left: 3px solid var(--white);
  }

  .new-product-bottom-pic {
    width: 100%;
    text-align: center;
  }
}