@font-face {
  font-family: "gotham-bold-italic";
  src: url("/fonts/gotham-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "gotham-ultra";
  src: url("/fonts/gotham-ultra.otf");
}

:root {

  /* Colors: 
  https://coolors.co/ffd521-70d1ef-3180bf-d6e69f-424f46-f14e28 */

  --yellow: #FFD521;
  --skyblue: #70D1EF;
  --blue: #3180BF;
  --green: #D6E69F;
  --darkgreen: #424F46;
  --red: #F14E28;
  --light: lightgrey;
  --gray: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color:var(--light);
}

/* Buttons */

.btn {
  border: 0;
  box-shadow: none;
}

.btn-primary {
  color: black;
  background-color: var(--yellow);
  padding: 10px;
  width: 100px;
}

.btn-secondary {
  color: black;
  background-color: var(--yellow);
  padding: 10px;
  width: 100px;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--yellow);
  background-image: url("/images/bg-header.png");
}
  .header-start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
  }
    .header-start img {
      width: 50px;
      background-color: var(--blue);
      padding: 10px;
      position: absolute;
      left: 30px;
      -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
      box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
    }
    .header-start h2 {
      display: none;
      font-family: "gotham-bold-italic";
      text-transform: uppercase;
      margin-left: 130px;
      letter-spacing: 2px;
      font-size: 28px;
    }
    .header-start .ultra {
      font-family: "gotham-ultra";
    }
  .header-center {
    display: none;
    position: relative;
    flex-grow: 1;
    text-align: right;
  }
    .header-center input {
      height: 24px;
      width: 90%;
      max-width: 300px;
      border: none;
      border-bottom: 2px solid var(--blue);
      background-color: var(--yellow);
    }
    .header-center input:focus {
      outline: none;
    }
    .header-center button { 
      background-color: var(--yellow);
      border: none;
      color: var(--blue);
      height: 24px;
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  .header-end {
    padding: 12px;
    display: flex;
  }
    .header-end a {
      color:var(--blue);
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      margin: 0px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6px 0px;
    }
    .header-end i {
      font-weight: bold;
    }

main{}

main section {}

main section article {}

aside {}

/* Footer */

footer {}
  .footer-top {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
    .footer-top img {
      width: 50px;
      margin: 10px;
      padding: 10px;
      background-color: var(--blue);
    }
    .footer-top p {
      font-weight: bold;
      font-size: 16px;
    }
  .footer-content {
    background-color: var(--light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
    .footer-content > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-content a {
      margin: 5px;
      color: var(--gray);
      font-weight: 100;
      font-size: 14px;
      text-decoration: none;
    } 
  .footer-bottom {
    background-color: var(--darkgreen);
    color: white;
    text-align: center;
  }

/* Login & Register Forms */

.main-register-login{ background-color: #117cc1;
  background-size: cover;
  padding: 100px;
}

 .h2-login-register{ margin-bottom: 20px;
  font-family: "gotham-ultra";}

.form-login-register {background-color: white;
  text-align: center;
  width:25%;
  margin-left: 650px;
  padding:15px;
  padding-top: 100px;
  border-radius: 25px;
  height:600px ;
  font-family: "gotham-ultra";
}
  
.button-register-login { background-color: #fed41f;
  border:none;
  font-size: large;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  font-family: "gotham-ultra";
  margin-top:25px;
} 

.input-register-login {width:300px;
height: 25px;
margin: 5px;
margin-bottom: 20px;
background-color: var(--light);
border-radius: 5px;}

/* Product Details */


/* Cart */


@media only screen and (min-device-width : 768px) {
  header {}
    .header-start {}
      .header-start img { 
        margin: 20px; 
        width: 80px;
      }
      .header-start h2 {
        display: inline;
      }
    .header-center {
      display: inline;
    }
}