<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Nosotros'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/site-navbar') %>
    
    <main>
        <div class="row main-center">
            <div class="col-10">
                <h1>Equipo Simpsocks</h1>
                <article>
                    <h2>Valeria Malbrán</h2>
                    <p>Casi comunicadora social explorando el mundo IT y el diseño de productos digitales.</p>
                </article>
                <article>
                    <h2>Martin Langlois</h2>
                    <p>Hotelero intentando comprender, aprender y avanzar en el mundo IT.</p>
                </article>
                <article>
                    <h2>Gerardo Gallardo</h2>
                    <p>Programador, apasionado de la tecnología, amante del asado y el buen vino.</p>
                </article>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>