<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Políticas'}) %>
<body>
	<%- include('../partials/header') %>
	<%- include('../partials/site-navbar') %>

	<main>
		<div class="row main-center">
			<div class="col-10">
				<h1>Preguntas Frecuentes</h1>
				<article>
					<h4>¿De que material son las medias?</h4>
					<p>100% algodón peinado.</p>
				</article>
				<article>
					<h4>¿Qué tipos de medias hay?</h4>
					<p>Por el momento contamos con bucaneras, soquetes y medias (3/4)</p>
				</article>
				<article>
					<h4>¿Qué modelos y colores de medias tienen?</h4>
					<p>Por el momento contamos con múltiples modelos con los personajes de los Simpsons en distintas versiones. Los personajes más buscados son Homero y Bart, pero contamos con toda la familia. Estos modelos se combinan con diferentes colores que pueden ser negro, blanco, amarillo, azul, rojo, rosa, naranja y algunos otros.</p>
				</article>
				<article>
					<h4>¿Qué recomientan para cuidar mejor las medias?</h4>
					<ol>
						<li>Preferiblemente lavar a mano</li>
						<li>No retorcer para escurrir</li>
						<li>Si las lavás en lavarropas, siempre dadas vuelta y con agua fría</li>
						<li>Evitar el uso de secarropas</li>
						<li>Secar la sol directo en lo posible</li>
						<li>Se pueden planchar</li>
					</ol>
				</article>
				<article>
					<h4>¿Realizan envíos?</h4>
					<p>Realizamos envíos en Argentina utilizando MercadoEnvíos. Por el momento no trabajamos con envíos internacionales.</p>
				</article>
				<article>
					<h4>¿Cómo puedo calcular los costos de envío?</h4>
					<p>Pronto estará disponible en la aplicación, pero por el momento podés escribirnos en la sección de Contacto.</p>
				</article>
				<article>
					<h4>¿Se puede retirar en persona?</h4>
					<p>Claro !! Sería un placer conocerter. Tenemos puntos de entrega en Capital Federal con horario a coordinar.</p>
				</article>
				<article>
					<h4>¿Cómo puedo abonar?</h4>
					<p>Aceptamos tarjeta de crédito y débito de forma online. También podés abonar en efectivo en los puntos de entrega.</p>
				</article>
				<article>
					<h4>¿Hay devoluciones o cambios en los productos?</h4>
					<p>Por el tipo de prenda que trabajamos no se permiten cambios o devoluciones.</p>
				</article>
			</div>
		</div>
	</main>

	<%- include('../partials/footer') %>
</body>	
</html>