<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Simpsocks - Forms</title>
</head>
<body>
    <div class="container">
        <a href="/demo">Volver</a>
        <h2>Buttons</h2>
        <button class="btn btn-primary">Primario</button>
        <button class="btn info">Info</button>
        <button class="btn success">Success</button>
        <button class="btn warning">Warning</button>
        <button class="btn danger">Danger</button>
        <h2>Inputs</h2>
        <input type="text" class="info">
        <input type="text" class="success">
        <input type="text" class="warning">
        <input type="text" class="danger">
        <h2>Validation form</h2>
        <form action="/forms" method="GET" novalidate>
            <div>
                <label for="mail">Correo electrónico:<label><br>
                <input type="email" id="mail" name="mail" class="info" minlength="8" required>
                <span class="error"></span>
            </div>
            <button class="success">Enviar</button>
        </form>
    </div>
    <script type="text/javascript" src="/js/validate.js"></script>
</body>
</html>