@font-face {
  font-family: "AkbarPlain";
  src: url("../fonts/akbar.eot"); /* IE9 Compat Modes */
  src: url("../fonts/akbar.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/akbar.otf") format("opentype"), /* Open Type Font */
    url("../fonts/akbar.svg") format("svg"), /* Legacy iOS */
    url("../fonts/akbar.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/akbar.woff") format("woff"), /* Modern Browsers */
    url("../fonts/akbar.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: lightgrey;
}

header {
  color: white;
  text-align: center;
  background-image: url('../images/tmp/bg-header.jpg');
  background-size: cover;
  height: 100px;
}

.logo > img {
  width: 70px;
  position: relative;
  float: left;
  padding: 20px 0 10px 20px;
}

.logo > h3 {
  font-family: "AkbarPlain";
  font-size: 40px;
  text-align: left;
  color: yellow;
  padding: 40px;
  margin: 0;
}

.content {
  background-color: white;
}

.content > .breadcrumb {
  background-color: blanchedalmond;
}

.content > .breadcrumb p {
  border: 0;
  margin: 0;
  padding: 0.5em;
}

.content .slides {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.content .slides .slide {
  height: 500px;
  width: auto;
  background-image: url("../images/patterns/alchemy.gif");
  background-repeat: repeat-x;
}

.content .top-categories {
  background-color: linen;
  padding: 5em 0 5em 0;
}

.content .top-categories h3 {
  font-family: "AkbarPlain";
  font-size: 30px;
  color: yellow;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 3em 0;
  margin: 0;
}

.content .top-categories .category {  
  display: inline-block;
  width: 260px;
  margin: 0 2em 2em 2em;
  background-color: white;
  border: 1px solid;
  border-color: white;
}

.content .top-categories .category:hover {
  border: 1px solid;
  border-color: blue;
}

.content .top-categories .category img {
  display:block;
  margin:auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content .top-categories .category button {
  display:block;
  margin:auto;
  margin-bottom: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.content .banner {
  background-color: darkslateblue;
}

.content .banner img {
  display:block;
  margin:auto;
  padding: 2em 0;
}

.content .best-sellers {
  background-color: white;
  padding: 5em 0 5em 0;
}

.content .best-sellers h3 {
  font-family: "AkbarPlain";
  font-size: 30px;
  color: yellow;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 3em 0;
  margin: 0;
}

.content .best-sellers .product {  
  display: inline-block;
  width: 220px;
  margin: 0 1em 1em 1em;
  background-color: cadetblue;
  border: 1px solid;
  border-color: cadetblue;
}

.content .best-sellers .product:hover {
  border: 1px solid;
  border-color: blue;
}

.content .best-sellers .product img {
  display:block;
  margin:auto;
  width: 200px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content .best-sellers .product button {
  display:block;
  margin:auto;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.content .best-sellers .product p {
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

/* buttons */

.btn {
  border: 0;
  box-shadow: none;
}

.btn-primary {
  color: white;
  background-color: blueviolet;
  padding: 1em;
}

/* footer */

footer {
  
}

footer .foot-top {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #ffd83a;
}

footer .foot-top ul {
  list-style: none;
  padding-left: 0; 
}

footer .foot-top ul li {
  float: left;
  width: 25%;
}

footer .foot-bot {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
  display: flex;
    align-items: center;
  width: 1350px;
}

footer .foot-logo img {
  max-width: 200px;
  margin-left: 4em;;
}

footer .foot-bot .foot-logo {
  width: 20%;
}

footer .foot-bot .foot-text {
  width: 60%;
}

footer .foot-bot .foot-social {
  width: 20%;
}

footer .foot-bot ul {
  list-style: none;
  padding-left: 0; 
}

.underline {
  text-decoration: none!important;
  position: relative;
  color: #000000;
}
