@font-face {
  font-family: "AkbarPlain";
  src: url("../fonts/akbar.eot"); /* IE9 Compat Modes */
  src: url("../fonts/akbar.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/akbar.otf") format("opentype"), /* Open Type Font */
    url("../fonts/akbar.svg") format("svg"), /* Legacy iOS */
    url("../fonts/akbar.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/akbar.woff") format("woff"), /* Modern Browsers */
    url("../fonts/akbar.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.logo-simpsons {
  font-family: 'AkbarPlain';
}