<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

    <!-- Title -->
    <title>Simpsocks</title>
</head>

<body>
    <header>
        <div class="header-start">
            <a href="/">
                <img src="/images/logo.png" alt="Logo Simpsocks">
                <h2><span class="ultra">simp</span>socks</h2>
            </a>
        </div>
        <div class="header-center hidden-sm">
            <form>
                <input type="text" placeholder="Buscar productos ...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-end">
            <a href="/search" class="hidden-md">
                <i class="far fa-search"></i>
                <span class="hidden-sm">Buscar</span>
            </a>
            <a href="/profile/favorites">
                <i class="far fa-heart"></i>
                <span class="hidden-sm">Favoritos</span>
            </a>
            <a href="/profile">
                <i class="far fa-user"></i>
                <span class="hidden-sm">Mi cuenta</span>
            </a>
            <a href="/cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="hidden-sm">Mis compras</span>
            </a>
        </div>
    </header>

    <nav class="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cart" class="is-active">carrito de compras</a></li>
        </ul>
    </nav>

    <div class="cart-title">
        <div class="subtitle">Mi carrito </div>
        <div class="article-count">2 Articulos</div>
    </div>

    <main class="row main-center">
        <div class="purchase-container col-md-4 col-lg-5">
            <div class="purchase-details">
                <img src="/images/products/homero-rosquillas.png" alt="foto producto">
                <article class="cart-info">
                    <span class="cancel"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p class="text">Medias Homero - rosquillas</p>
                    <div class="cart-quantity">
                        <span class="quantity-label">Cantidad:</span>
                        <select name="products" id="products">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="cart-price">
                        <p class="article-price">$320</p><i class="far fa-heart"></i>
                    </div>
                </article>
            </div>
            <div class="purchase-details">
                <img class="imae-size" src="/images/categories/homero.png" alt="foto producto">
                <article class="cart-info">
                    <span class="cancel"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <p class="text">Soquetes Homero - Hable mas fuerte</p>
                    <div class="cart-quantity">
                        <span class="quantity-label">Cantidad:</span>
                        <select name="products" id="products">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="cart-price">
                        <p class="article-price">$320</p><i class="far fa-heart"></i>
                    </div>
                </article>
            </div>
        </div>
        <div class="resume-container col-md-6 col-lg-5">
            <div class="resume">
                <div class="subtitle">Resumen de Compra</div>
                <div>
                    <input class="resume-input" type="text" id="discount" name="discount"
                        placeholder="código de descuento">
                    <button class="btn-action" type="submit">aplicar</button>
                </div>
                <div class="price-details-container">
                    <div class="price-details">
                        <div>Producto</div>
                        <div>$ 320 </div>
                    </div>
                    <div class="price-details">
                        <div>Producto</div>
                        <div>$ 320 </div>
                    </div>
                    <div class="price-details discount">
                        <div>Descuento</div>
                        <div>-$ 125</div>
                    </div>
                    <div class="divisor"></div>
                    <div class="payment price-details">
                        <div>Total</div>
                        <div>$515</div>
                    </div>
                    <div class="btn-payment">
                        <button class="btn btn-primary">Pagar</button>
                    </div>
                </div>
                <div>
                    <div class="envio">Calcular Envío</div> 
                        <input class="resume-input" type="text" id="discount" name="discount"
                        placeholder="código postal">
                        <button class="btn-action" type="submit">enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Products -->
        <section class="featured-products col-md-10">
            <span class="title">destacados</span>
            <div class="row main-center featured-products-container">
                <div class="col-10 col-md-4 col-lg-3">
                    <article class="featured-product">
                        <div class="prod-img"><img src="/images/products/lisa.png" alt=""></div>
                        <div class="prod-discount">-10%</div>
                        <div class="prod-price">$300</div>
                        <div class="prod-name">Medias Lisa saxofón</div>
                        <button class="btn btn-primary">comprar</button>    
                    </article>
                </div>
                <div class="col-10 col-md-4 col-lg-3">
                    <article class="featured-product">
                        <div class="prod-img"><img src="/images/products/maggie.png" alt=""></div>
                        <div class="prod-discount">-15%</div>
                        <div class="prod-price">$250</div>
                        <div class="prod-name">Medias Maggie Simpsons</div>
                        <button class="btn btn-primary">comprar</button>    
                    </article>
                </div>
            </div>
        </section>
    </main>
   <footer>
    <div class="footer-top">
        <img src="/images/logo.png" alt="Logo Simpsocks">
        <p>¡Tus próximas medias son Simpsocks!</p>
    </div>
    <div class="footer-content">
        <nav class="store">
            <a href="/profile">Mi cuenta</a>
            <a href="/search/discounts">Ofertas</a>
            <a href="/help">Ayuda</a>
        </nav>
        <nav class="site">
            <a href="/site/about-us">Nosotros</a>
            <a href="/site/contact">Contacto</a>
            <a href="/site/policies">Condiciones</a>
        </nav>
        <nav class="social">
            <a href="https://instagram.com/simpsocks-argentina" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://facebook.com/simpsocks-argentina" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/simpsocks-argentina" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </nav>
    </div>
    <div class="footer-bottom">
        <small>© 2020 Simpsocks</small> 
    </div>
</footer>
</body>

</html>