<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <%= error %> 
    </main>
    
    <%- include('./partials/footer') %> 
</body>
</html>