<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <section class="page-not-found">
            <div class="row main-center cross-center wrapper">
                <div class="col-10 col-md-6 col-lg-5">
                    <div class="row">
                        <div class="col-4"><img src="/images/error/4.png" alt="" ></div>
                        <div class="col-4"><img src="/images/error/0.png" alt="" ></div>
                        <div class="col-4"><img src="/images/error/4.png" alt="" ></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="subtitle">Lo siento, esta página no existe</h2>
                            <p class="text">Por qué no tratas de <a href="/products/find">buscar aquí</a> tus SimpSocks?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer') %> 
</body>
</html>