<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-start">
            <a href="/">
                <img src="/images/logo.png" alt="Logo Simpsocks">
                <h2><span class="ultra">simp</span>socks</h2>
            </a>
        </div>
        <div class="header-center hidden-sm">
            <form>
                <input type="text" placeholder="Buscar productos ...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-end">
            <a href="/search" class="hidden-md">
                <i class="far fa-search"></i>
                <span class="hidden-sm">Buscar</span>
            </a>
            <a href="/profile/favorites">
                <i class="far fa-heart"></i>
                <span class="hidden-sm">Favoritos</span>
            </a>
            <a href="/profile/">
                <i class="far fa-user"></i>
                <span class="hidden-sm">Mi cuenta</span>
            </a>
            <a href="/cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="hidden-sm">Mis compras</span>
            </a>
        </div>
    </header>
    <main>
        <section class="page-not-found">
            <div class="row main-center cross-center wrapper">
                <div class="col-10 col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/error/4.png" alt="" >
                        </div>
                        <div class="col-4">
                            <img src="/images/error/0.png" alt="" >
                        </div>
                        <div class="col-4">
                            <img src="/images/error/4.png" alt="" >
                        </div>
                    </div>
                    <div class="row main-center">
                        <h2 class="subtitle">pagina no encontrada</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-top">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <p>¡Tus próximas medias son Simpsocks!</p>
        </div>
        <div class="footer-content">
            <nav class="store">
                <a href="#">Mi cuenta</a>
                <a href="#">Ofertas</a>
                <a href="#">Ayuda</a>
            </nav>
            <nav class="site">
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Condiciones</a>
            </nav>
            <nav class="social">
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </nav>
        </div>
        <div class="footer-bottom">
            <small>© 2020 Simpsocks</small> 
        </div>
    </footer>
</body>
</html>