<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Simpsocks</title>
</head>
<body>
    <header>
        <div class="header-start">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <h2><span class="ultra">simp</span>socks</h2>
        </div>
        <div class="header-center">
            <form>
                <input type="text" placeholder="Buscar productos ...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-end">
            <a href="#">
                <i class="far fa-heart"></i>
                <span>Favoritos</span>
            </a>
            <a href="#">
                <i class="far fa-user"></i>
                <span>Mi cuenta</span>
            </a>
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
                <span>Mis compras</span>
            </a>
        </div>
    </header>
    <main>
        <section class="main-categories">
            <nav>
                <a href="#" class="main-category">Categoría 1</a>
                <a href="#" class="main-category">Categoría 2</a>
                <a href="#" class="main-category">Categoría 3</a>
                <a href="#" class="main-category">Categoría 4</a>
                <a href="#" class="main-category">Categoría 5</a>
            </nav>
        </section>
        <section class="exhibitor">
			<div id="carousel-home" class="carousel">
                <div class="slide-container slide-1 fade">
                    <div class="slide">
                        <div class="slide-img">
                            <img src="/images/slide/bucanera.png">
                        </div>
                        <div class="slide-info">
                            <span class="title">bucaneras</span>
                            <span class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, natus.</span>
                            <button class="btn btn-primary">comprar</button>
                        </div>
                    </div>
                </div>
                <div class="slide-container slide-2 fade">
                    <div class="slide">
                        <div class="slide-img">
                            <img src="/images/slide/bucanera.png">
                        </div>
                        <div class="slide-info">
                            <span class="title">bucaneras</span>
                            <span class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quasi.</span>
                            <button class="btn btn-primary">comprar</button>
                        </div>
                    </div>
                </div>
                <div class="slide-container slide-3 fade">
                    <div class="slide">
                        <div class="slide-img">
                            <img src="/images/slide/bucanera.png">
                        </div>
                        <div class="slide-info">
                            <span class="title">bucaneras</span>
                            <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, provident!</span>
                            <button class="btn btn-primary">comprar</button>
                        </div>
                    </div>
                </div>
                <a class="prev-link" onclick="prevSlide()">&#10094;</a>
                <a class="next-link" onclick="nextSlide()">&#10095;</a>
            </div>
		</section>
        <section class="categories-container">
            <span class="title">categorías</span>
            <div class="categories">
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
                <a href="#">
                    <article class="category">
                        <div class="cat-img">
                            <img src="/images/category.png" alt="">
                        </div>
                        <div class="cat-name">
                            <span class="title">Category Name</span>
                        </div>
                    </article>
                </a>
            </div>
        </section>
        <div class="banner">
            <div class="banner-img">
                <img src="/images/main-banner.png" alt="">
            </div>
            <div class="banner-desc">
                <p class="title">buscanos en instagram</p>
                <p class="subtitle">seguinos para enterarte de las últimas colecciones y nuevos productos</p>
            </div>
        </div>

        <div class="container">
            <section class="last-products">
                <h3>Últimos Productos</h3>
            </section>
        </div>
    </main>
    <!-- ¡NO EDITAR! Hacer modificaciones en "views > partials > footer.html" y copiar el contenido -->
    <footer>
        <div class="footer-top">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <p>¡Tus próximas medias son Simpsocks!</p>
        </div>
        <div class="footer-content">
            <nav class="store">
                <a href="#">Mi cuenta</a>
                <a href="#">Ofertas</a>
                <a href="#">Ayuda</a>
            </nav>
            <nav class="site">
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Condiciones</a>
            </nav>
            <nav class="social">
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
            </nav>
        </div>
        <div class="footer-bottom">
            <small>© 2020 Simpsocks</small> 
        </div>
    </footer>
    <!-- scripts -->
    <script>
        let current = 1;
        showSlides(current);
        function prevSlide() { showSlides(current += -1); }
        function nextSlide() { showSlides(current += 1); }
        function showSlides(n) {
            let slides = document.getElementsByClassName("slide-container");
            if (n > slides.length) { current = 1 }
            if (n < 1) { current = slides.length }
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[current-1].style.display = "block";
        }
    </script>
</body>
</html>