<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 

    <main>
        <!-- Top navbar -->
        <section class="top-nav">
            <nav class="top-nav-start">
                <a href="/products/find/envios" ><strong>#QuedateEnCasa</strong> productos con Envíos Gratis</a>
            </nav>
            <nav class="top-nav-end">
                <a href="/products/find/2x1">2x1</a>
                <a href="/products/find/descuentos">Descuento</a>
                <a href="/products/find/hotsale">Hot Sale</a>
            </nav>
        </section>
        <!-- Slider -->
        <section id="carousel-home" class="slides">
            <div class="slide-container slide-1 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-8 col-lg-8 slide-img">
                                <img src="/images/slide/bucanera.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">medias bucaneras</span>
                        <span class="text">Llegaron las bucaneras de los simpsons con los mejores diseños para vestir tus piernas.  </span>
                        <a class="btn btn-primary" href="/products/find?query=bucaneras">Buscar</a>
                    </div>
                </div>
            </div>
            <div class="slide-container slide-2 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-8 col-lg-8 slide-img">
                                <img src="/images/slide/socks.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">modelos clásicos</span>
                        <span class="text">No te podés perder la línea de diseño con los personajes clásicos para que te acompañen a todos lados.</span>
                        <a class="btn btn-primary" href="/products/find?query=personajes">Buscar</a>
                    </div>
                </div>
            </div>
            <div class="slide-container slide-3 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-8 col-lg-8 slide-img">
                                <img src="/images/slide/t-shirt.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">muy pronto</span>
                        <span class="text">Al igual que Homero, pensá cuál será tu próxima diseño y contactanos para incluirte en la pre-venta de remeras.</span>
                        <a class="btn btn-secondary" href="/site/contact">Contacto</a>
                    </div>
                </div>
            </div>
            <a class="prev-link" onclick="prevSlide()">&#10094;</a>
            <a class="next-link" onclick="nextSlide()">&#10095;</a>
        </section>
        <!-- Information -->
        <section class="info-banner">
            <div class="row">
                <div class="col-3 info">
                    <i class="fas fa-truck"></i>
                    <span>Envíos a todo el país</span>
                </div>
                <div class="col-3 info">
                    <i class="fas fa-credit-card"></i>
                    <span>Pagá en 12 cuotas</span>
                </div>
                <div class="col-3 info">
                    <i class="fas fa-shield-alt"></i>
                    <span>Compra protegida</span>
                </div>
                <div class="col-3 info">
                    <i class="fab fa-whatsapp"></i>
                    <span><a href="https://wa.link/93x6qy" target="_blank">Consulte aquí</a></span>
                </div>
            </div>
        </section>
        <!-- Categories -->
        <section class="featured-categories">
            <span class="title">más buscados</span>
            <div class="row main-center featured-categories-container">
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/homero.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/products/find?query=homero"><span class="text">Homero</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/bucaneras.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/products/find?query=bucaneras"><span class="text">Bucaneras</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/sockets.jpg" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/products/find?query=soquetes"><span class="text">Soquetes</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-5 col-lg-3 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/originals.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/products/find?query=personajes"><span class="text">Originales</span></a>
                    </div>
                </article>
            </div>
        </section>
        <!-- Banner Instagram -->
        <section class="insta-banner">
            <div class="row">
                <div class="col-12 col-md-7 content">
                    <span class="subtitle">buscanos en instagram</span>
                    <span class="text"><a href="instragram.com/simpsocks-argentina" target="_blank">seguinos en <em>@simpsocks-argentina</em></a> para enterarte de las últimas colecciones y nuevos productos</span>
                </div>
                <div class="col-md-5 image"></div>
            </div>
        </section>
        <!-- Featured Products -->
        <section class="featured-products">
            <span class="title">destacados</span>
            <div class="row nowrap simple-slider">
                <% featured.forEach(product => { %>
                    <div class="col-10 col-md-6 col-lg-3 simple-slide">
                        <%- include('./products/product', {product}) %>
                    </div>
                <% }); %> 
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %> 
    <script src="/js/slider.js"></script>
</body>
</html>