<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head') %> 
<body>

    <!-- HEADER -->
    <%- include('./partials/header') %> 

    <main>
        <!-- Main Categories -->
        <section class="main-categories">
            <nav>
                <a href="/search/promotion/free-delivery" class="main-category-msg"><strong>#QuedateEnCasa</strong> productos con Envíos Gratis</a>
                <a href="/search/promotion/2x1" class="main-category">2x1</a>
                <a href="/search/promotion/gifts" class="main-category">Regalo</a>
                <a href="/search/promotion/discounts" class="main-category">Descuento</a>
                <a href="/search/promotion/hotsale" class="main-category">Hot Sale</a>
            </nav>
        </section>
        <!-- Slider -->
        <section id="carousel-home" class="slides">
            <div class="slide-container slide-1 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-12 col-lg-8 slide-img">
                                <img src="/images/slide/bucanera.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">medias bucaneras</span>
                        <span class="text">Llegaron las bucaneras de los simpsons con los mejores diseños para vestir tus piernas.  </span>
                        <button class="btn btn-primary">comprar</button>
                    </div>
                </div>
            </div>
            <div class="slide-container slide-2 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-8 col-lg-8 slide-img">
                                <img src="/images/slide/socks.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">modelos clásicos</span>
                        <span class="text">No te podés perder la línea de diseño con los personajes clásicos para que te acompañen a todos lados.</span>
                        <button class="btn btn-primary">comprar</button>
                    </div>
                </div>
            </div>
            <div class="slide-container slide-3 fade">
                <div class="row slide cross-center">
                    <div class="col-12 col-md-5">
                        <div class="row main-center">
                            <div class="col-12 col-md-8 col-lg-8 slide-img">
                                <img src="/images/slide/t-shirt.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 slide-info">
                        <span class="title">muy pronto</span>
                        <span class="text">Al igual que Homero, pensá cuál será tu próxima diseño y contactanos para incluirte en la pre-venta de remeras.</span>
                        <button class="btn btn-secondary">contactar</button>
                    </div>
                </div>
            </div>
            <a class="prev-link" onclick="prevSlide()">&#10094;</a>
            <a class="next-link" onclick="nextSlide()">&#10095;</a>
        </section>
        <!-- Information -->
        <section class="info-banner">
            <div class="row">
                <div class="col info">
                    <i class="fas fa-truck"></i>
                    <span>Envíos a todo el país</span>
                </div>
                <div class="col info">
                    <i class="fas fa-credit-card"></i>
                    <span>Pagá en 12 cuotas</span>
                </div>
                <div class="col info">
                    <i class="fas fa-shield-alt"></i>
                    <span>Compra protegida</span>
                </div>
                <div class="col info">
                    <i class="fab fa-whatsapp"></i>
                    <span><a href="https://wa.link/93x6qy" target="_blank">Consulte aquí</a></span>
                </div>
            </div>
        </section>
        <!-- Categories -->
        <section class="featured-categories">
            <span class="title">más buscados</span>
            <div class="row main-center featured-categories-container">
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/homero.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/search/category/homero"><span class="text">Homero</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/bucaneras.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/search/category/bucaneras"><span class="text">Bucaneras</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-3 col-lg-2 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/sockets.jpg" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/search/category/soquetes"><span class="text">Soquetes</span></a>
                    </div>
                </article>
                <article class="col-5 col-md-5 col-lg-3 featured-category">
                    <div class="cat-img">
                        <img src="/images/categories/originals.png" alt="">
                    </div>
                    <div class="cat-name">
                        <a href="/search/category/originales"><span class="text">Originales</span></a>
                    </div>
                </article>
            </div>
        </section>
        <!-- Banner Instagram -->
        <section class="insta-banner">
            <div class="row">
                <div class="col-12 col-md-7 content">
                    <span class="subtitle">buscanos en instagram</span>
                    <span class="text"><a href="instragram.com/simpsocks-argentina" target="_blank">seguinos en <em>@simpsocks-argentina</em></a> para enterarte de las últimas colecciones y nuevos productos</span>
                </div>
                <div class="col-md-5 image"></div>
            </div>
        </section>
        <!-- Featured Products -->
        <section class="featured-products">
            <span class="title">destacados</span>
            <div class="row main-center featured-products-container">
                <div class="col-10 col-md-3 col-lg-3">
                    <article class="featured-product">
                        <div class="prod-img"><img src="/images/products/socks-homero-rosquillas.png" alt=""></div>
                        <div class="prod-discount">-10%</div>
                        <div class="prod-price">$300</div>
                        <div class="prod-name">Medias Homero Rosquillas</div>
                        <a href="/cart" class="btn btn-primary">comprar</a>    
                    </article>
                </div>
                <div class="col-10 col-md-3 col-lg-3">
                    <article class="featured-product">
                        <div class="prod-img"><img src="/images/products/socks-homero-traje-banio.png" alt=""></div>
                        <div class="prod-discount">-15%</div>
                        <div class="prod-price">$250</div>
                        <div class="prod-name">Medias Homero Traje de Baño</div>
                        <a href="/cart" class="btn btn-primary">comprar</a>
                    </article>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %> 
    
    <!-- slider script -->
    <script>
        let current = 1;
        showSlides(current);
        function prevSlide() { showSlides(current += -1); }
        function nextSlide() { showSlides(current += 1); }
        function showSlides(n) {
            let slides = document.getElementsByClassName("slide-container");
            if (n > slides.length) { current = 1 }
            if (n < 1) { current = slides.length }
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[current-1].style.display = "block";
        }
    </script>
</body>
</html>