<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300&display=swap" rel="stylesheet">
    <!-- Title -->
    <title>Simpsocks</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="logo">
            <img src="/images/logo/logo.png" alt="">
            <h3>The Simpsocks</h3>
        </div>
        <!-- Searchbox -->
        <!-- Icons -->
    </header>
 <main class="mainRegisterLogin">  

    <form action="" method="POST"> 

        <h2>LOGIN</h2>

        <p><label for="user" >USUARIO</label><br>
        <input type="text" id="user" name="user"></p>

        <p><label for="password" >CONTRASEÑA</label><br>
        <input type="password" id="password" name="password"></p>
        <p><a href="">Olvidaste tu contraseña?</a></p>

        <button type="submit" class="ml">enviar</button> 

    </form>
        
</main>

<footer>
    <div class="foot-top">
        <ul>
            <li>
                <div style="text-align:center">
                    <h3 style="font-size: 20px;"><a class="underline" href="#">Productos</a></h3>
                    <p style="margin-top: 30px;">Nuevos productos</p>
                </div>
            </li>
            <li>
                <div style="text-align:center">
                    <h3 style="font-size: 20px;"><a class="underline" href="#">Descuentos</a></h3>
                    <p style="margin-top: 30px;">Hasta el 40% menos</p>
                </div>
            </li>
            <li>
                <div style="text-align:center">
                    <h3 style="font-size: 20px;"><a class="underline" href="#">Envios gratis</a></h3>
                    <p style="margin-top: 30px;">Buscar localidades</p>
                </div>
            </li>
            <li>
                <div style="text-align:center">
                    <h3 style="font-size: 20px;"><a class="underline" href="#">Contacto</a></h3>
                    <p style="margin-top: 30px;">Estamos para ayudarte</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="foot-bot">
        <div class="foot-logo">
            <img src="/images/logo/logo.png" alt="">
        </div>
        <div class="foot-text">
            <ul>
                <li>
                    <div style="text-align:center">
                        Derechos 2020 © Simpsocks.<br>
                        Tel: +54 911 1234-5678 - Correo: <a href="info@simpsocks.com.ar">info@simpsocks.com.ar</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="foot-social">
            <h3>Seguinos</h3>
            <ul>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://youtube.com" target="_blank">YouTube</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>