<footer>
    <div class="footer-top">
        <img src="/images/logo.png" alt="Logo Simpsocks">
        <p>¡Tus próximas medias son Simpsocks!</p>
    </div>
    <div class="footer-content">
        <nav class="store">
            <a href="/">Tienda</a>
            <a href="/users/profile">Mi cuenta</a>
            <a href="/products/find/discounts">Ofertas</a>
        </nav>
        <nav class="site">
            <a href="/site/aboutus">Nosotros</a>
            <a href="/site/contact">Contacto</a>
            <a href="/site/faq">Preguntas Frecuentes</a>
        </nav>
        <nav class="social">
            <a href="https://instagram.com/simpsocks-argentina" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://facebook.com/simpsocks-argentina" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/simpsocks-argentina" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </nav>
    </div>
    <div class="footer-bottom">
        <small>© 2020 Simpsocks</small> 
    </div>
</footer>