<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid System</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        [class^="col"] {
            border-left: 2px solid greenyellow;
            border-right: 2px solid greenyellow;
        }
        .height-bg {
            min-height: 6rem;
            background-color: #eaeaea;
        }
    </style>
</head>
<body>
    <main class="container">
        <p>All viewports "col"</p>
        <div class="row">
            <div class="col">Col 1</div>
            <div class="col">Col 2</div>
            <div class="col">Col 3</div>
        </div>
        <p>Set column with "col-N"</p>
        <div class="row">
            <div class="col">Col 1</div>
            <div class="col-6">Col 2</div>
            <div class="col">Col 3</div>
        </div>
        <p>Single row</p>
        <div class="row">
            <div class="col">R1 - Col 1</div>
            <div class="col">R1 - Col 2</div>
            <div class="col">R1 - Col 3</div>
            <div class="col">R2 - Col 4</div>
            <div class="col">R2 - Col 5</div>
        </div>
        <p>Some relation size to all breakpoints</p>
        <div class="row">
            <div class="col">col</div>
            <div class="col">col</div>
            <div class="col">col</div>
        </div>
        <div class="row">
            <div class="col-8">col-8</div>
            <div class="col-4">col-4</div>
        </div>
        <p>Start stacked and becomes horizontal at the tablet breakpoints</p>
        <div class="row">
            <div class="col-md-8">col-md-8</div>
            <div class="col-md-4">col-md-4</div>
        </div>
        <p>Start stacked, two columns on tablet and four columns on desktop</p>
        <div class="row">
            <div class="col-md-8 col-lg-3">md-c1 lg-c1</div>
            <div class="col-md-4 col-lg-3">md-c2 lg-c2</div>
            <div class="col-md-8 col-lg-3">md-c1 lg-c3</div>
            <div class="col-md-4 col-lg-3">md-c2 lg-c4</div>
        </div>
        <p>Main Start</p>
        <div class="row main-start">
            <div class="col-6 col-md-6 col-lg-3">col-6</div>
        </div>
        <p>Main Center</p>
        <div class="row main-center">
            <div class="col-6 col-md-6 col-lg-3">col-6</div>
        </div>
        <p>Main End</p>
        <div class="row main-end">
            <div class="col-6 col-md-6 col-lg-3">col-6</div>
        </div>
        <p>Main Around</p>
        <div class="row main-around">
            <div class="col-3 col-md-3 col-lg-3">col-3</div>
            <div class="col-3 col-md-3 col-lg-3">col-3</div>
            <div class="col-5 col-md-5 col-lg-5">col-5</div>
        </div>
        <p>Main Between</p>
        <div class="row main-between">
            <div class="col-3 col-md-3 col-lg-3">col-3</div>
            <div class="col-3 col-md-3 col-lg-3">col-3</div>
            <div class="col-5 col-md-5 col-lg-5">col-5</div>
        </div>
        <p>Cross Start</p>
        <div class="row cross-start height-bg">
            <div class="col-md-5 col-lg-3">col-5</div>
            <div class="col-md-3 col-lg-2">col-3</div>
            <div class="col-md-1 col-lg-1">col-1</div>
        </div>
        <p>Cross Center</p>
        <div class="row cross-center height-bg">
            <div class="col-md-5 col-lg-3">col-5</div>
            <div class="col-md-3 col-lg-2">col-3</div>
            <div class="col-md-1 col-lg-1">col-1</div>
        </div>
        <p>Cross End</p>
        <div class="row cross-end height-bg">
            <div class="col-md-5 col-lg-3">col-5</div>
            <div class="col-md-3 col-lg-2">col-3</div>
            <div class="col-md-1 col-lg-1">col-1</div>
        </div>
        <p>Nested</p>
        <div class="row">
            <div class="col-md-6 col-lg-3" style="background-color: lightgrey;">
                <div class="row main-start">
                    <div class="col-6 col-md-6 col-lg-6">col-nested-start</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" style="background-color: lightgrey;">
                <div class="row main-center">
                    <div class="col-6 col-md-6 col-lg-6">col-nested-center</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" style="background-color: lightgrey;">
                <div class="row main-center">
                    <div class="col-6 col-md-6 col-lg-6">col-nested-center</div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" style="background-color: lightgrey;">
                <div class="row main-end">
                    <div class="col-6 col-md-6 col-lg-6">col-nested-end</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>