<header>
    <nav class="header-start">
        <a href="/">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <h2><span class="ultra">simp</span>socks</h2>
        </a>
    </nav>
    <nav class="header-center hidden-sm">
        <form>
            <input type="text" placeholder="Buscar productos ...">
            <a type="submit" href="/products/find"><i class="fas fa-search"></i></a>
        </form>
    </nav>
    <nav class="header-end">
        <a href="/products/find" class="hidden-md">
            <i class="far fa-search"></i>
            <span class="hidden-sm">Buscar</span>
        </a>
        <a href="/users/favorites">
            <i class="far fa-heart"></i>
            <span class="hidden-sm">Favoritos</span>
        </a>
        <a href="/products/cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="hidden-sm">Mis compras</span>
        </a>
        <a href="/users/profile">
            <i class="far fa-user"></i>
            <span class="hidden-sm">Mi cuenta</span>
        </a>
        <a href="/users/register">
            <i class="fas fa-user-plus"></i>
            <span class="hidden-sm">Registrarme</span>
        </a>
        <a href="/users/login">
            <i class="fas fa-sign-in-alt"></i>
            <span class="hidden-sm">Iniciar Sesión</span>
        </a>
        <a href="/users/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="hidden-sm">Cerrar Sesión</span>
        </a>
        <a href="/admin">
            <i class="fas fa-user-shield"></i>
            <span class="hidden-sm">Admin</span>
        </a>
    </nav>
</header>