<header>
    <nav class="header-start">
        <a href="/">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <h2><span class="ultra">simp</span>socks</h2>
        </a>
    </nav>
    <nav class="header-end">
        <a href="/users/">
            <i class="far fa-user"></i>
            <span class="hidden-sm">Usuarios</span>
        </a>
        <a href="/products/">
            <i class="fas fa-shopping-cart"></i>
            <span class="hidden-sm">Productos</span>
        </a>
    </nav>
</header>