<header>
    <div class="header-start">
        <a href="/">
            <img src="/images/logo.png" alt="Logo Simpsocks">
            <h2><span class="ultra">simp</span>socks</h2>
        </a>
    </div>
    <div class="header-center hidden-sm">
        <form>
            <input type="text" placeholder="Buscar productos ...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="header-end">
        <a href="/search" class="hidden-md">
            <i class="far fa-search"></i>
            <span class="hidden-sm">Buscar</span>
        </a>
        <a href="/profile/favorites">
            <i class="far fa-heart"></i>
            <span class="hidden-sm">Favoritos</span>
        </a>
        <a href="/profile">
            <i class="far fa-user"></i>
            <span class="hidden-sm">Mi cuenta</span>
        </a>
        <a href="/cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="hidden-sm">Mis compras</span>
        </a>
    </div>
</header>