<section class="top-nav">
    <nav class="top-nav-end">
        <a href="/site/aboutus" class="nav-selected">Nosotros</a>
        <a href="/site/faq">Preguntas Frecuentes</a>
        <a href="/site/contact">Contacto</a>
    </nav>
</section>