<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/products/cart">Carrito de compras</a>
        </nav>
    </section>

    <div class="cart-title">
        <div class="subtitle">Mi carrito </div>
        <div class="article-count">2 Articulos</div>
    </div>

    <main class="row main-center">
        <!-- Template to show items from local storage -->
        <div id="item-template" class="purchase-details">
            <img src="" alt="foto producto">
            <article class="cart-info">
                <span class="cancel"><i class="fa fa-times" aria-hidden="true"></i></span>
                <p class="text"></p>
                <div class="cart-quantity">
                    <span class="quantity-label">Cantidad:</span>
                    <div class="btn-group">
                        <button>-</button><input type="text" value=""><button>+</button>
                    </div>
                </div>
                <div class="cart-price">
                    <p class="article-price">$<span></span></p><i class="far fa-heart"></i>
                </div>
            </article>
        </div>
        <div class="purchase-container col-md-4 col-lg-5">
            <!-- Items will be added here -->
        </div>
        <div class="resume-container col-md-6 col-lg-5">
            <div class="resume">
                <div class="subtitle">Resumen de Compra</div>
                <div class="price-details-container">
                    <div class="price-details">
                        <div>Producto</div>
                        <div>$ 320 </div>
                    </div>
                    <div class="price-details">
                        <div>Producto</div>
                        <div>$ 320 </div>
                    </div>
                    <div class="price-details resume-discount">
                        <div>Descuento</div>
                        <div>-$ 125</div>
                    </div>
                    <div class="divisor"></div>
                    <div class="payment price-details">
                        <div>Total</div>
                        <div>$515</div>
                    </div>
                    <div class="btn-payment">
                        <button class="btn btn-primary">Pagar</button>
                    </div>
                </div>
                <div>
                    <div class="shipping">Calcular Envío</div> 
                        <input class="resume-input" type="text" id="discount" name="discount"
                        placeholder="código postal">
                        <button class="btn-action" type="submit">enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Products -->
        <div class="col-12">
            <section class="featured-products">
                <span class="title">destacados</span>
                <div class="row nowrap simple-slider">
                    <% featured.forEach(product => { %>
                        <div class="col-10 col-md-6 col-lg-3 simple-slide">
                            <%- include('product', { product }) %>
                        </div>
                    <% }); %> 
                </div>
            </section>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer') %>
    <script src="/js/cart.js"></script>
</body>

</html>