<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Home</a>
            <a href="/products/detail">Detalles del producto</a>
        </nav>
    </section>

    <main class="product-container row">
        <aside>
            <figure><a href=""><img class="aside-img" src="/images/categories/homero.png" alt="foto del producto"></a></figure>
            <figure><a href=""><img class="aside-img" src="/images/categories/homero.png" alt="foto del producto"></a></figure>
            <figure><a href=""><img class="aside-img" src="/images/categories/homero.png" alt="foto del producto"></a></figure>
        </aside>
        <div class="product-img col-md-6 col-lg-6">
            <img class="image-size" src="/images/categories/homero.png" alt="Foto producto">
        </div>
        <article class="product-details col-md-6 col-lg-6 row main-center">
            <p class="stock">stock disponible</p>
            <div class="price">
                <span class="subtitle">$320</span>
                <i class="far fa-heart heart-icon"></i>
            </div>
            <div>
                <div class="product-title">Soquetes Homero</div>
                <p class="product-description text">Medias estilo soquetes Homero - The Simpsons</p>
            </div>
            <div class="product-actions">
                <a href="/cart"> <button class="btn btn-info btn-cart">Añadir al carrito</button></a>
                <a href="/error"> <button class="btn btn-primary">Comprar</button></a>
            </div>
        </article>

        <!--Productos Relacionados-->

        <div class="related-products-container title col-lg-12">
            <div class="title title-center">Productos Relacionados</div>
            <div class="row main-center cross-center">
                <div class="card col-md-3  col-lg-3">
                    <img class="img-card" src="/images/products/sockets-bart-honda.jpg" alt="Foto productos destacados">
                    <div class="card-body">
                        <p class="text">Soquetes Bart</p>
                        <p class="subtitle">$123</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <div class="card col-md-3 col-lg-3">
                    <img class="img-card" src="/images/products/sockets-homero.jpg" alt="Foto productos destacados">
                    <div class="card-body">
                        <h3 class="text">soquetes Homero</h3>
                        <p class="subtitle">$123</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <div class="card col-md-3 col-lg-3">
                    <img class="img-card" src="/images/products/socks-mr-sparkle.jpg" alt="Foto productos desacados">
                    <div class="card-body">
                        <h3 class="text">mr-sparkle</h3>
                        <p class="subtitle">$123</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                <div class="card col-md-3 col-lg-3">
                    <img class="img-card" src="/images/products/socks-rosquillas.jpg" alt="Foto productos desacados">
                    <div class="card-body">
                        <h3 class="text">rosquillas</h3>
                        <p class="subtitle">$123</p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>