<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <nav class="breadcrumb">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
    </nav>

    <main class="container products-wrapper">
		<div class="row products">
			<div class="col-12">
				<h2 class="title">Todos los productos</h2>
            </div>
            <div class="col-12">
                <aside class="products-filter">
                    <p>barra lateral</p>
                </aside>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <section class="product">
                    <a href="/products/1">
                        <figure class="product-image">
							<img src="/images/products/sockets-homero.jpg" alt="imagen de producto">
						</figure>
						<article class="product-data">
							<span class="discount">-10%</span>
                            <p>Soquetes Homero</p>
                            <span class="compare-price">$100</span>
                            <span class="product-price">$90</span>
						</article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <section class="product">
                    <a href="/products/1">
                        <figure class="product-image">
							<img src="/images/products/sockets-homero.jpg" alt="imagen de producto">
						</figure>
						<article class="product-data">
							<span class="discount">-10%</span>
                            <p>Soquetes Homero</p>
                            <span class="compare-price">$100</span>
                            <span class="product-price">$90</span>
						</article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <section class="product">
                    <a href="/products/1">
                        <figure class="product-image">
							<img src="/images/products/sockets-homero.jpg" alt="imagen de producto">
						</figure>
						<article class="product-data">
							<span class="discount">-10%</span>
                            <p>Soquetes Homero</p>
                            <span class="compare-price">$100</span>
                            <span class="product-price">$90</span>
						</article>
                    </a>
                </section>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <section class="product">
                    <a href="/products/1">
                        <figure class="product-image">
							<img src="/images/products/sockets-homero.jpg" alt="imagen de producto">
						</figure>
						<article class="product-data">
							<span class="discount">-10%</span>
                            <p>Soquetes Homero</p>
                            <span class="compare-price">$100</span>
                            <span class="product-price">$90</span>
						</article>
                    </a>
                </section>
            </div>
		</div>
	</main>

    <%- include("../partials/footer")%>
</body>
</html>