<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <nav class="breadcrumb">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
    </nav>

    <main></main>

    <%- include("../partials/footer")%>
</body>
</html>