<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head') %> 
<body>

    <!-- HEADER -->
    <%- include('../partials/header') %> 

    <nav class="breadcrumb">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
    </nav>

    <main></main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %> 
</body>
</html>