<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
			<a href="/">Inicio</a>
			<a href="/admin">Admin</a>
			<a href="/products/">Productos</a>
        </nav>
	</section>

    <main class="main-with-form">
        <section class="row main-center">
            <div class="col-10 col-md-8 col-lg-8 form-general">
                <form action="" method="POST">

                    <h2 class="title-forms">Tus Simpsocks</h2>
                    <div class="my-products">

                        <article class="my-product">
                            <div class = "image-container"> 
                                <img class="img-card-edit-product" src="/images/products/sockets-bart-honda.jpg" alt="soquete bart">
                            </div>

                            <div class="text-container">
                                <div>Soquete Bart Simpson</div>
                                <div >Confort inexplicable</div>
                                <div >$250</div>
                            </div>
                            <div class="icons-edit">
                                <a href="#"> <i class="fas fa-edit"></i></a>
                                </div>
                                <div class="icons-edit">
                                <a href="#"> <i class="fas fa-trash-alt"></i></a>
                                </div>
                        </article>

                        <article class="my-product">
                            <div class = "image-container"> 
                                <img class="img-card-edit-product" src="/images/products/sockets-bart-honda.jpg" alt="soquete bart">
                            </div>

                            <div class="text-container">
                                <div>Soquete Bart Simpson</div>
                                <div >Confort inexplicable</div>
                                <div >$250</div>
                            </div>
                            <div class="icons-edit">
                                <a href="#"> <i class="fas fa-edit"></i></a>
                                </div>
                                <div class="icons-edit">
                                <a href="#"> <i class="fas fa-trash-alt"></i></a>
                                </div>
                        </article>

                        <article class="my-product">
                            <div class = "image-container"> 
                                <img class="img-card-edit-product" src="/images/products/sockets-bart-honda.jpg" alt="soquete bart">
                            </div>

                            <div class="text-container">
                                <div>Soquete Bart Simpson</div>
                                <div >Confort inexplicable</div>
                                <div >$250</div>
                            </div>
                            <div class="icons-edit">
                                <a href="#"> <i class="fas fa-edit"></i></a>
                            </div>
                            <div class="icons-edit">
                                <a href="#"> <i class="fas fa-trash-alt"></i></a>
                            </div>
                        </article>

                    </div>

                    <div>
                        <button type="submit" class=" btn btn-primary">Guardar Cambios</button>
                    </div>
                
                </form>          
            </div>    
        </section>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>