<section class="product">
    <a href="/products/1">
        <figure class="product-image">
            <img src="/images/products/sockets-homero.jpg" alt="imagen de producto">
        </figure>
        <article class="product-data">
            <span class="discount">-10%</span>
            <p>Soquetes Homero</p>
            <span class="compare-price">$100</span>
            <span class="product-price">$90</span>
        </article>
    </a>
</section>