[{
    "id": 1,
    "name": "homero",
    "related": null
  }, {
    "id": 2,
    "name": "marge",
    "related": null
  }, {
    "id": 3,
    "name": "bart",
    "related": null
  }, {
    "id": 4,
    "name": "maggie",
    "related": null
  }, {
    "id": 5,
    "name": "lisa",
    "related": null
  }, {
    "id": 6,
    "name": "2x1",
    "related": null
  }, {
    "id": 7,
    "name": "gifts",
    "related": null
  }, {
    "id": 8,
    "name": "discounts",
    "related": null
  }, {
    "id": 9,
    "name": "hotsale",
    "related": null
  }, {
    "id": 10,
    "name": "bucaneras",
    "related": null
  }]