[
 {
  "id": 1,
  "prodId": 1,
  "name": "homer_1.jpg"
 },
 {
  "id": 2,
  "prodId": 1,
  "name": "homer_2.jpg"
 },
 {
  "id": 3,
  "prodId": 1,
  "name": "homer_3.jpg"
 },
 {
  "id": 4,
  "prodId": 2,
  "name": "bart1.jpg"
 },
 {
  "id": 5,
  "prodId": 2,
  "name": "bart2.jpg"
 },
 {
  "id": 6,
  "prodId": 2,
  "name": "bart3.jpg"
 },
 {
  "id": 7,
  "prodId": 3,
  "name": "varios-personajes.jpg"
 },
 {
  "id": 8,
  "prodId": 3,
  "name": "varios-personajes-1.jpg"
 },
 {
  "id": 9,
  "prodId": 3,
  "name": "varios-personajes.jpg"
 },
 {
  "id": 10,
  "prodId": 4,
  "name": "bart-medias-gris.jpg"
 },
 {
  "id": 11,
  "prodId": 4,
  "name": "bart-medias-azul.jpg"
 },
 {
  "id": 12,
  "prodId": 4,
  "name": "bart-medias-both1.jpg"
 },
 {
  "id": 13,
  "prodId": 5,
  "name": "socks-homer-dona-1.jpg"
 },
 {
  "id": 14,
  "prodId": 5,
  "name": "socks-homer-dona-2.png"
 },
 {
  "id": 15,
  "prodId": 5,
  "name": "socks-homer-dona-3.png"
 },
 {
  "id": 16,
  "prodId": 6,
  "name": "medias-homero-donas.jpg"
 },
 {
  "id": 17,
  "prodId": 6,
  "name": "medias-homero-donas-1.jpg"
 },
 {
  "id": 19,
  "prodId": 7,
  "name": "bart-medias-1.png"
 },
 {
  "id": 20,
  "prodId": 7,
  "name": "bart-medias-2.png"
 },
 {
  "id": 21,
  "prodId": 8,
  "name": "homero-burger-1.jpg"
 },
 {
  "id": 22,
  "prodId": 8,
  "name": "homero-burger-2.jpg"
 },
 {
  "id": 23,
  "prodId": 8,
  "name": "homero-burger-3.jpg"
 },
 {
    "id": 24,
    "prodId": 9,
    "name": "marge-medias-1.jpg"
   },
   {
    "id": 25,
    "prodId": 9,
    "name": "marge-medias-2.jpg"
   },
   {
    "id": 26,
    "prodId": 9,
    "name": "marge-medias-3.jpg"
   },
   {
      "id": 27,
      "prodId": 10,
      "name": "burns-medias-1.jpg"
     },
     {
      "id": 28,
      "prodId": 10,
      "name": "burns-medias-2.jpg"
     },
     {
      "id": 30,
      "prodId": 11,
      "name": "lisa-medias.jpg"
     },
     {
      "id": 31,
      "prodId": 11,
      "name": "lisa-medias-2.jpg"
     },
     {
      "id": 31,
      "prodId": 12,
      "name": "maggie-2.jpg"
     },
     {
      "id": 31,
      "prodId": 12,
      "name": "maggie-1.jpg"
     },
     {
      "id": 32,
      "prodId": 13,
      "name": "marge-medias.jpg"
     },
     {
      "id": 33,
      "prodId": 13,
      "name": "marge-medias2.jpg"
     },
     {
      "id": 33,
      "prodId": 14,
      "name": "socks-maggie.jpg"
     },
     {
      "id": 34,
      "prodId": 15,
      "name": "socks-rosquillas.jpg"
     },
     {
      "id": 35,
      "prodId": 16,
      "name": "sockets-bart-honda.jpg"
     },
     {
      "id": 36,
      "prodId": 17,
      "name": "sockets-homero.jpg"
     },
     {
      "id": 37,
      "prodId": 18,
      "name": "socks-mr-sparkle.jpg"
     },
     {
      "id": 38,
      "prodId": 19,
      "name": "socks-homero-traje-banio.jpg"
     },
     {
      "id": 39,
      "prodId": 20,
      "name": "socks-lisa.jpg"
     }   
]