[
  {
    "id": 1,
    "name": "medias bart cow man",
    "price": 100,
    "discount": 0,
    "description": "Medias de algodón. Máxima calidad.",
    "size": 1,
    "type": 2,
    "categories": [
      4,
      7
    ]
  },
  {
    "id": 2,
    "name": "medias bart cow man azules",
    "price": 200,
    "discount": 5,
    "description": "Medias de algodón. Máxima calidad.",
    "size": 2,
    "type": 2,
    "categories": [
      4,
      8
    ]
  },
  {
    "id": 3,
    "name": "medias bart grises",
    "price": 300,
    "discount": 10,
    "description": "Medias de algodón. Máxima calidad.",
    "size": 3,
    "type": 2,
    "categories": [
      4,
      8
    ]
  },
  {
    "id": 4,
    "name": "medias bart homme",
    "price": 400,
    "discount": 15,
    "description": "Medias de algodón. Máxima calidad.",
    "size": 1,
    "type": 2,
    "categories": [
      4,
      8,
      10
    ]
  },
  {
    "id": 5,
    "name": "medias homero burger",
    "price": 500,
    "discount": 20,
    "description": "Medias de algodón. Máxima calidad.",
    "size": 2,
    "type": 2,
    "categories": [
      2,
      8,
      10
    ]
  },
  {
    "id": 6,
    "name": "medias homero dona grande",
    "price": 150,
    "discount": 25,
    "description": "Composicion: algodón con lycra, dibujo en poliamida, puño con elastómero. Puño de Lurex.",
    "size": 3,
    "type": 2,
    "categories": [
      2,
      8
    ]
  },
  {
    "id": 7,
    "name": "medias homero comiendo dona",
    "price": 250,
    "discount": 50,
    "description": "Composicion: algodón con lycra, dibujo en poliamida, puño con elastómero. Puño de Lurex.",
    "size": 1,
    "type": 2,
    "categories": [
      1,
      2,
      8,
      7
    ]
  },
  {
    "id": 8,
    "name": "medias homero kit x3",
    "price": 350,
    "discount": 0,
    "description": "Composicion: algodón con lycra, dibujo en poliamida, puño con elastómero. Puño de Lurex.",
    "size": 2,
    "type": 2,
    "categories": [
      1,
      2
    ]
  },
  {
    "id": 9,
    "name": "medias maggie blancas",
    "price": 450,
    "discount": 5,
    "description": "Composicion: algodón con lycra, dibujo en poliamida, puño con elastómero. Puño de Lurex.",
    "size": 3,
    "type": 2,
    "categories": [
      6,
      8
    ]
  },
  {
    "id": 10,
    "name": "medias todos los personajes negras",
    "price": 550,
    "discount": 0,
    "description": "Composicion: algodón con lycra, dibujo en poliamida, puño con elastómero. Puño de Lurex.",
    "size": 1,
    "type": 2,
    "categories": []
  },
  {
    "id": 11,
    "name": "soquetes bart cow man",
    "price": 100.5,
    "discount": 15,
    "description": "sapien ut nunc vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae mauris viverra diam",
    "size": 1,
    "type": 1,
    "categories": [
      1,
      4,
      8
    ]
  },
  {
    "id": 12,
    "name": "medias homero rosquillas blancas",
    "price": 200.5,
    "discount": 20,
    "description": "consectetuer adipiscing elit proin interdum mauris non ligula pellentesque ultrices phasellus id sapien in sapien iaculis congue vivamus metus arcu",
    "size": 1,
    "type": 2,
    "categories": [
      2,
      8
    ]
  },
  {
    "id": 13,
    "name": "bucaneras maggie negras",
    "price": 300.5,
    "discount": 25,
    "description": "tristique in tempus sit amet sem fusce consequat nulla nisl nunc nisl duis bibendum",
    "size": 1,
    "type": 3,
    "categories": [
      6,
      8
    ]
  },
  {
    "id": 14,
    "name": "soquetes bart honda",
    "price": 400.5,
    "discount": 50,
    "description": "at ipsum ac tellus semper interdum mauris ullamcorper purus sit amet nulla quisque",
    "size": 2,
    "type": 1,
    "categories": [
      1,
      4,
      8
    ]
  },
  {
    "id": 15,
    "name": "medias homero rosquillas rosa",
    "price": 500.5,
    "discount": 0,
    "description": "nec condimentum neque sapien placerat ante nulla justo aliquam quis turpis",
    "size": 2,
    "type": 2,
    "categories": [
      2,
      7
    ]
  },
  {
    "id": 16,
    "name": "soquetes homero traje banio",
    "price": 150.5,
    "discount": 5,
    "description": "consectetuer adipiscing elit proin risus praesent lectus vestibulum quam sapien varius ut blandit non interdum in",
    "size": 2,
    "type": 1,
    "categories": [
      2,
      7,
      8
    ]
  },
  {
    "id": 17,
    "name": "soquetes homero cielo",
    "price": 250.5,
    "discount": 10,
    "description": "odio in hac habitasse platea dictumst maecenas ut massa quis augue luctus tincidunt nulla mollis molestie lorem",
    "size": 3,
    "type": 1,
    "categories": [
      2,
      8
    ]
  },
  {
    "id": 18,
    "name": "medias homero sparkle",
    "price": 350.5,
    "discount": 15,
    "description": "nibh in lectus pellentesque at nulla suspendisse potenti cras in purus eu magna vulputate luctus cum sociis",
    "size": 3,
    "type": 2,
    "categories": [
      2,
      8
    ]
  },
  {
    "id": 19,
    "name": "soquetes lisa saxo",
    "price": 450.5,
    "discount": 20,
    "description": "aliquam quis turpis eget elit sodales scelerisque mauris sit amet eros",
    "size": 3,
    "type": 1,
    "categories": [
      5,
      8
    ]
  },
  {
    "id": 20,
    "name": "soquetes homero desnudo",
    "price": 550.5,
    "discount": 25,
    "description": "nunc commodo placerat praesent blandit nam nulla integer pede justo lacinia eget tincidunt eget",
    "size": 1,
    "type": 1,
    "categories": [
      2,
      8
    ]
  },
  {
    "id": 21,
    "name": "medias burns",
    "price": 100,
    "discount": 50,
    "description": "aliquam quis turpis eget elit sodales scelerisque mauris sit amet eros",
    "size": 2,
    "type": 2,
    "categories": [
      1
    ]
  },
  {
    "id": 22,
    "name": "medias marge paleta de colores",
    "price": 200,
    "discount": 0,
    "description": "at ipsum ac tellus semper interdum mauris ullamcorper purus sit amet nulla quisque",
    "size": 3,
    "type": 2,
    "categories": [
      3
    ]
  },
  {
    "id": 23,
    "name": "bucaneras lisa gato",
    "price": 300,
    "discount": 5,
    "description": "sapien ut nunc vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae mauris viverra diam",
    "size": 2,
    "type": 3,
    "categories": [
      5
    ]
  },
  {
    "id": 24,
    "name": "bucaneras marge gato",
    "price": 400,
    "discount": 10,
    "description": "consectetuer adipiscing elit proin interdum mauris non ligula pellentesque ultrices phasellus id sapien in sapien iaculis congue vivamus metus arcu",
    "size": 3,
    "type": 3,
    "categories": [
      3
    ]
  }
]