[
  {
    "id": 1,
    "prodId": 1,
    "name": "medias-bart-cowman-1.jpg"
  },
  {
    "id": 2,
    "prodId": 1,
    "name": "medias-bart-cowman-2.jpg"
  },
  {
    "id": 3,
    "prodId": 2,
    "name": "medias-bart-cowman-azul-1.jpg"
  },
  {
    "id": 4,
    "prodId": 2,
    "name": "medias-bart-cowman-azul-2.jpg"
  },
  {
    "id": 5,
    "prodId": 3,
    "name": "medias-bart-gris-1.jpg"
  },
  {
    "id": 6,
    "prodId": 3,
    "name": "medias-bart-gris-2.jpg"
  },
  {
    "id": 7,
    "prodId": 4,
    "name": "medias-bart-homme-1.png"
  },
  {
    "id": 8,
    "prodId": 4,
    "name": "medias-bart-homme-2.png"
  },
  {
    "id": 9,
    "prodId": 5,
    "name": "medias-homero-burger-1.jpg"
  },
  {
    "id": 10,
    "prodId": 5,
    "name": "medias-homero-burger-2.jpg"
  },
  {
    "id": 11,
    "prodId": 5,
    "name": "medias-homero-burger-3.jpg"
  },
  {
    "id": 12,
    "prodId": 6,
    "name": "medias-homero-dona-1.jpg"
  },
  {
    "id": 13,
    "prodId": 6,
    "name": "medias-homero-dona-2.jpg"
  },
  {
    "id": 14,
    "prodId": 6,
    "name": "medias-homero-dona-3.jpg"
  },
  {
    "id": 15,
    "prodId": 7,
    "name": "medias-homero-donas-1.jpg"
  },
  {
    "id": 16,
    "prodId": 7,
    "name": "medias-homero-donas-2.jpg"
  },
  {
    "id": 17,
    "prodId": 8,
    "name": "medias-homero-kit-1.jpg"
  },
  {
    "id": 18,
    "prodId": 8,
    "name": "medias-homero-kit-2.jpg"
  },
  {
    "id": 19,
    "prodId": 8,
    "name": "medias-homero-kit-3.jpg"
  },
  {
    "id": 20,
    "prodId": 9,
    "name": "medias-maggie-blancas-1.jpg"
  },
  {
    "id": 21,
    "prodId": 9,
    "name": "medias-maggie-blancas-2.jpg"
  },
  {
    "id": 22,
    "prodId": 10,
    "name": "medias-personajes-negras-1.jpg"
  },
  {
    "id": 23,
    "prodId": 10,
    "name": "medias-personajes-negras-2.jpg"
  },
  {
    "id": 24,
    "prodId": 11,
    "name": "soquetes-bart-cowman-1.jpg"
  },
  {
    "id": 25,
    "prodId": 12,
    "name": "medias-homero-rosquillas-blancas-1.jpg"
  },
  {
    "id": 26,
    "prodId": 13,
    "name": "bucaneras-maggie-negra-1.jpg"
  },
  {
    "id": 27,
    "prodId": 14,
    "name": "soquetes-bart-honda-1.jpg"
  },
  {
    "id": 28,
    "prodId": 15,
    "name": "medias-homero-rosquillas-rosa-1.jpg"
  },
  {
    "id": 29,
    "prodId": 16,
    "name": "soquetes-homero-traje-banio-1.jpg"
  },
  {
    "id": 30,
    "prodId": 17,
    "name": "soquetes-homero-cielo-1.jpg"
  },
  {
    "id": 31,
    "prodId": 17,
    "name": "soquetes-homero-cielo-2.jpg"
  },
  {
    "id": 32,
    "prodId": 18,
    "name": "medias-homero-sparkle-1.jpg"
  },
  {
    "id": 33,
    "prodId": 19,
    "name": "soquetes-lisa-saxo-1.jpg"
  },
  {
    "id": 34,
    "prodId": 20,
    "name": "soquetes-homero-desnudo-1.jpg"
  },
  {
    "id": 35,
    "prodId": 21,
    "name": "medias-burns-1.jpg"
  },
  {
    "id": 36,
    "prodId": 21,
    "name": "medias-burns-2.jpg"
  },
  {
    "id": 37,
    "prodId": 21,
    "name": "medias-burns-3.jpg"
  },
  {
    "id": 38,
    "prodId": 22,
    "name": "medias-marge-paleta-colores-1.jpg"
  },
  {
    "id": 39,
    "prodId": 22,
    "name": "medias-marge-paleta-colores-2.jpg"
  },
  {
    "id": 40,
    "prodId": 22,
    "name": "medias-marge-paleta-colores-3.jpg"
  },
  {
    "id": 41,
    "prodId": 23,
    "name": "bucaneras-lisa-1.jpg"
  },
  {
    "id": 42,
    "prodId": 24,
    "name": "bucaneras-marge-1.jpg"
  }
]